<div class="modal-header">
    <h4 class="modal-title pull-left">User Entry</h4>
</div>
<div class="modal-body">
    <div class="u-p-small">
        <form [formGroup]="entryForm">
            <div class="row">
                <div class="col-md-12 col-sm-12" *ngIf="action == 'create'">
                    <div class="form-group">
                        <label for="title">User Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" formControlName="email" [ngClass]="{'c-input--danger': submitted && f.email.errors}"
                            placeholder="Email Address" required>
                        <p class="c-field__message u-text-small">
                            <i class="fa fa-info-circle"></i> Please enter an email address for this user. They will be
                            notified via email.
                        </p>
                        <small *ngIf="submitted && f.email.errors" class="c-field__message u-color-danger">
                            <div *ngIf="f.email.errors.required">
                                <i class="fa fa-exclamation-circle"></i> Email Address is required.
                            </div>
                        </small>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="privacy">User Role</label>
                        <select class="form-control" id="privacy" name="privacy" formControlName="role" [ngClass]="{'c-input--danger': submitted && f.role.errors}" required>
                            <option value="Administrator">Administrator</option>
                            <option value="Staff">Staff</option>
                            <option value="Trade">Trade</option>
                            <option value="Media">Media</option>
                        </select>
                        <p class="c-field__message u-text-small">
                            <i class="fa fa-info-circle"></i>Please select the user's account access role.
                        </p>
                        <small *ngIf="submitted && f.role.errors" class="c-field__message u-color-danger">
                            <div *ngIf="f.role.errors.required">
                                <i class="fa fa-exclamation-circle"></i> User Role is required.
                            </div>
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
            *ngIf="isSaving"></i> Save</button>
    <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
</div>