/* ==========================================================================
   #SWITCH
   ========================================================================== */
/**
 * 1. Radius of `toggle` should be equal to radius of `c-switch`.
 * 2. The small circle that move to the right and left.
 * 3. Calculation: (width of switch bar) - (toggle's width + 2px )
 * 4. Don't allow active state on a disabled switch.
 */
.c-switch {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.c-switch::before {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 26px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e6eaee;
    border-radius: 83px;
    background-color: #dfe3e9;
    content: " ";
}

.c-switch::after {
    /* [2] */
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 83px;
    /* [1] */
    background-color: #fff;
    content: " ";
}

.c-switch.is-active::before {
    background-color: #34aa44;
}

.c-switch.is-active::after {
    left: 25px;
    /* [3] */
}

.c-switch.is-disabled {
    cursor: not-allowed;
}

.c-switch.is-disabled::after {
    opacity: 0.5;
}

.c-switch.is-disabled.is-active {
    /* [4] */
}

.c-switch.is-disabled.is-active::before {
    background-color: #dfe3e9;
}

.c-switch.is-disabled.is-active::after {
    right: 2px;
}

/**
   * 1. Hide input to replace it with switch-style input
   */
.c-switch__input {
    display: none;
    /* [1] */
}

.c-switch__label {
    margin: 0 0 0 0.625rem;
    color: #354052;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ==========================================================================
     #SWITCH
     ========================================================================== */
/**
   * 1. Radius of `toggle` should be equal to radius of `c-switch`.
   * 2. The small circle that move to the right and left.
   * 3. Calculation: (width of switch bar) - (toggle's width + 2px )
   * 4. Don't allow active state on a disabled switch.
   */
.c-switch {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.c-switch::before {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 26px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e6eaee;
    border-radius: 83px;
    background-color: #dfe3e9;
    content: " ";
}

.c-switch::after {
    /* [2] */
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 83px;
    /* [1] */
    background-color: #fff;
    content: " ";
}

.c-switch.is-active::before {
    background-color: #34aa44;
}

.c-switch.is-active::after {
    left: 25px;
    /* [3] */
}

.c-switch.is-disabled {
    cursor: not-allowed;
}

.c-switch.is-disabled::after {
    opacity: 0.5;
}

.c-switch.is-disabled.is-active {
    /* [4] */
}

.c-switch.is-disabled.is-active::before {
    background-color: #dfe3e9;
}

.c-switch.is-disabled.is-active::after {
    right: 2px;
}

/**
   * 1. Hide input to replace it with switch-style input
   */
.c-switch__input {
    display: none;
    /* [1] */
}

.c-switch__label {
    margin: 0 0 0 0.625rem;
    color: #354052;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}