

/* ==========================================================================
   #NOTIFICATIONS
   ========================================================================== */
/**
 * 1. Allow notification to have a dropdown menu.
 * 2. Fix additional space added by positioning number absolutely.
 */
 .c-notification {
    display: inline-block;
    position: relative;
    /* [1] */
    margin-right: 0.625rem;
    /* [2] */
  }
  
  .c-notification__icon {
    color: #7f8fa4;
    font-size: 20px;
  }
  
  /**
   * 1. Align number with notifcation icon properly.
   */
  .c-notification__number {
    display: inline-block;
    position: absolute;
    top: -3px;
    /* [1] */
    right: -0.625rem;
    /* [1] */
    min-width: 20px;
    height: 20px;
    padding: 0 5px;
    border-radius: 20px;
    background-color: #FF7800;
    color: #fff;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: center;
  }
  