/* ==========================================================================
   #TABS
   ========================================================================== */
/**
 * A wrapper for tabs navigation and content.
 */
/**
 * 1. Works as a wrapper for tabs navigation links.
 */
 .c-tabs__list {
    /* [1] */
    padding: 20px 30px;
    border: 1px solid #dfe3e9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
  }
  
  .c-tabs__list li {
    display: inline-block;
  }
  
  .c-tabs__link {
    margin: 0 30px 0 0;
    padding: 0 0 21px 0;
    color: #7f8fa4;
    font-size: 1rem;
  }
  
  .c-tabs__link:hover {
    color: #354052;
    text-decoration: none;
  }
  
  .c-tabs__link.is-active,
  .c-tabs__link.active {
    border-bottom: 2px solid #2ea1f8;
    color: #2d3848;
    font-weight: 600;
  }
  
  /**
   * Splitted-style of tabs navigation list
   */
  .c-tabs__list--splitted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  
  .c-tabs__list--splitted .c-tabs__item {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0;
  }
  
  .c-tabs__list--splitted .c-tabs__link {
    display: inline-block;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 4px;
    padding: 15px 30px;
    border: 1px solid #dfe3e9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F4F7FA));
    background: linear-gradient(to bottom, #fff, #F4F7FA);
  }
  
  .c-tabs__list--splitted .c-tabs__link.is-active,
  .c-tabs__list--splitted .c-tabs__link.active {
    padding: 20px 35px;
    border-bottom-color: #fff;
    background: #fff;
    font-size: 18px;
  }
  
  .c-tabs__pane {
    display: none;
    margin: 0;
    padding: 20px 30px;
    border: 1px solid #dfe3e9;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    color: #354052;
  }
  
  .c-tabs__pane.is-active,
  .c-tabs__pane.active {
    display: block;
  }
  