/* ==========================================================================
   #NAVBAR
   ========================================================================== */
/**
 * The site's main page header, used as a wrapper for its sub-components.
 */
 .c-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    min-height: 70px;
    padding: 13px 30px;
    border-bottom: 1px solid #E6EAEE;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .c-navbar {
      padding: 0.625rem 0.9375rem;
    }
  }
  
  /**
   * Set a fixed width for search input when placed in navbar.
   */
  .c-navbar__search {
    width: 270px !important;
  }
  
  /**
   * 1. Custom width, height is specififed for proper alignment, adding your own 
   *    brand/logo image will require custom styles for proper alignment.
   * 2. On small screens, seperate logo/brand from other navbar components as 
   *    navbar links would be collapsed.
   */
  .c-navbar__brand {
    display: inline-block;
    width: 44px;
    /* [1] */
    height: 44px;
    /* [1] */
    margin: 0 20px 0 0;
  }
  
  @media (max-width: 768px) {
    .c-navbar__brand {
      margin-right: auto;
      /* [2] */
    }
  }
  
  .c-navbar__title {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
  }
  
  /* Style variants
     ========================================================================== */
  /**
   * Use `c-navbar--inverse` for dark background colors.
   *
   */
  .c-navbar--inverse {
    background: #2ea1f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
    background: linear-gradient(to bottom, #2ea1f8, #1990ea);
  }
  
  .c-navbar--inverse .c-nav,
  .c-navbar--inverse .c-nav__item {
    border-color: #53b2f9;
  }
  
  .c-navbar--inverse .c-nav__link {
    color: #fff;
  }
  
  .c-navbar--inverse .c-avatar.has-dropdown::after {
    color: #fff;
  }
  
  .c-navbar--inverse .c-nav-toggle__icon,
  .c-navbar--inverse .c-nav-toggle__icon::before,
  .c-navbar--inverse .c-nav-toggle__icon::after {
    background-color: #fff;
    opacity: 0.95;
  }