/* ==========================================================================
   #TOGGLE
   ========================================================================== */
/**
 * Toggles are a pair of buttons useful for (Yes/No)-like questions.
 *
 * 1. Remove `is-active` styles when `c-toggle` is disabled
 */
 .c-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45px;
    cursor: pointer;
  }
  
  .c-toggle.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .c-toggle.is-disabled .c-toggle__btn.is-active {
    /* [1] */
    border-color: #E7E9ED;
    background-color: #FAFBFC;
    color: #565F6D;
  }
  
  .c-toggle__btn {
    width: 50%;
    height: 45px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #E7E9ED;
    border-radius: 4px;
    background-color: #FAFBFC;
    color: #565F6D;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: inherit;
  }
  
  .c-toggle__btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .c-toggle__btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .c-toggle__btn.is-active {
    border-color: #249533;
    background-color: #39B54A;
    color: #fff;
  }
  
  .c-toggle__label {
    width: 100%;
    height: 45px;
    line-height: 45px;
    cursor: inherit;
  }
  
  /**
   * 1. Hide default radio button
   */
  .c-toggle__input {
    display: none;
    /* [1] */
    width: 100%;
    height: 100%;
  }