/* ==========================================================================
   #TOOLTIPS
   ========================================================================== */
/**
 * Simple, css-only based tooltips.
 *
 * 1. Prevent other components from overrideing tooltip's line-height.
 * 2. Get tooltip text from `aria-label` and place it using `content` property.
 */
 .c-tooltip {
    position: relative;
  }
  
  .c-tooltip::after {
    position: absolute;
    max-height: 5rem;
    padding: 0.625rem 0.9375rem;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    border-radius: 4px;
    background-color: #1d2531;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    /* [1] */
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    content: attr(aria-label);
    /* [2] */
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 200;
  }
  
  .c-tooltip::before {
    position: absolute;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    border: 6px solid transparent;
    content: " ";
    opacity: 0;
    visibility: hidden;
  }
  
  .c-tooltip:hover::before,
  .c-tooltip:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  /* Direction variants
     ========================================================================== */
  .c-tooltip--top::after {
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -12px);
    transform: translate(-50%, -12px);
  }
  
  .c-tooltip--top::before {
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-top-color: #1d2531;
  }
  
  .c-tooltip--bottom::after {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
  }
  
  .c-tooltip--bottom::before {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-bottom-color: #1d2531;
  }
  
  .c-tooltip--right::after {
    top: 50%;
    left: 100%;
    -webkit-transform: translate(12px, -50%);
    transform: translate(12px, -50%);
  }
  
  .c-tooltip--right::before {
    top: 50%;
    left: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-right-color: #1d2531;
  }
  
  .c-tooltip--left::after {
    top: 50%;
    right: 100%;
    -webkit-transform: translate(-12px, -50%);
    transform: translate(-12px, -50%);
  }
  
  .c-tooltip--left::before {
    top: 50%;
    right: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-left-color: #1d2531;
  }