/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * 1. Apply (c-btn--info) background if `c-btn--{style}` class isn't specified.
 * 2. Align icon (if placed inside button) with text properly.
 * 3. Add dropdown icon/arrow to button with `has-dropdown` class, it depends 
 *    on (FontAwesome) icon font so make sure to modify it if you changed your 
 *    base icon font.
 * 4. Use `disabled` property on <button> elements, and `is-disabled` class on
 *    <a> elements as they don't support `disabled` property.
 */
 .c-btn {
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.5rem 1.25rem;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border: 1px solid;
    border-radius: 4px;
    border-color: #1a91eb;
    /* [1] */
    color: #fff;
    /* [1] */
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #2ea1f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
    background: linear-gradient(to bottom, #2ea1f8, #1990ea);
    /* [1] */
  }
  
  .c-btn:hover,
  .c-btn:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
  }
  
  .c-btn i {
    position: relative;
    bottom: -1px;
    /* [2] */
    font-size: 16px;
  }
  
  .c-btn.has-dropdown {
    position: relative;
    padding-right: 2.5rem;
  }
  
  .c-btn.has-dropdown::after {
    /* [3] */
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-left: 1.25rem;
    padding: 0.5rem 8px;
    border-left: 1px solid;
    border-color: inherit;
    color: inherit;
    font-family: "FontAwesome";
    content: "\f107";
  }
  
  .c-btn.is-disabled,
  .c-btn:disabled {
    /* [4] */
    border-color: #e6eaee;
    background: #f5f8fa;
    color: rgba(53, 64, 82, 0.5);
  }
  
  .c-btn.is-disabled:hover,
  .c-btn.is-disabled:focus,
  .c-btn:disabled:hover,
  .c-btn:disabled:focus {
    border-color: #e6eaee;
    background: #f5f8fa;
    color: rgba(53, 64, 82, 0.5);
    cursor: not-allowed;
  }
  
  .c-btn--fullwidth {
    width: 100%;
  }
  
  /**
   * 1. Reduce spacing between the icon and text in small buttons.
   */
  .c-btn--small {
    padding: 0.25rem 1.125rem;
    font-size: 0.75rem;
  }
  
  .c-btn--small i {
    margin-right: 5px;
    /* [1] */
  }
  
  .c-btn--large {
    padding: 0.5rem 1.875rem;
    font-size: 1rem;
  }
  
  /* Style variants
     ========================================================================== */
  /**
   * Buttons have a simple, nice gradient on the background, we use 
   * sass's `darken()` method to generate a dark shade of the requested color, 
   * then we use our `linear-gradient` mixin to generate the gradient background.
   */
  .c-btn--primary {
    background: #475364;
    background: -webkit-gradient(linear, left top, left bottom, from(#475364), to(#273142));
    background: linear-gradient(to bottom, #475364, #273142);
    border-color: #354052;
  }
  
  .c-btn--primary:hover {
    background: #3f4958;
    background: -webkit-gradient(linear, left top, left bottom, from(#3f4958), to(#151b24));
    background: linear-gradient(to bottom, #3f4958, #151b24);
  }
  
  .c-btn--primary:focus {
    background: #3a4452;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a4452), to(#12161e));
    background: linear-gradient(to bottom, #3a4452, #12161e);
  }
  
  .c-btn--secondary {
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f4f7));
    background: linear-gradient(to bottom, #fff, #f2f4f7);
    border-color: #dfe3e9;
    color: #354052;
  }
  
  .c-btn--secondary:hover {
    background: #fcfcfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eceff3));
    background: linear-gradient(to bottom, #fcfcfc, #eceff3);
    color: #354052;
  }
  
  .c-btn--secondary:focus {
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9ecf1));
    background: linear-gradient(to bottom, #fafafa, #e9ecf1);
    color: #354052;
  }
  
  .c-btn--info {
    background: #2ea1f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
    background: linear-gradient(to bottom, #2ea1f8, #1990ea);
    border-color: #1a91eb;
  }
  
  .c-btn--info:hover {
    background: #1a98f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a98f7), to(#1485db));
    background: linear-gradient(to bottom, #1a98f7, #1485db);
  }
  
  .c-btn--info:focus {
    background: #1094f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#1094f7), to(#137fd1));
    background: linear-gradient(to bottom, #1094f7, #137fd1);
  }
  
  .c-btn--success {
    background: #39b54a;
    background: -webkit-gradient(linear, left top, left bottom, from(#39b54a), to(#34aa44));
    background: linear-gradient(to bottom, #39b54a, #34aa44);
    border-color: #249533;
  }
  
  .c-btn--success:hover {
    background: #34a544;
    background: -webkit-gradient(linear, left top, left bottom, from(#34a544), to(#2f9a3e));
    background: linear-gradient(to bottom, #34a544, #2f9a3e);
  }
  
  .c-btn--success:focus {
    background: #329e40;
    background: -webkit-gradient(linear, left top, left bottom, from(#329e40), to(#2d933b));
    background: linear-gradient(to bottom, #329e40, #2d933b);
  }
  
  .c-btn--fancy {
    background: #886ce6;
    background: -webkit-gradient(linear, left top, left bottom, from(#886ce6), to(#7d5be2));
    background: linear-gradient(to bottom, #886ce6, #7d5be2);
    border-color: #7d5be2;
  }
  
  .c-btn--fancy:hover {
    background: #7a5be3;
    background: -webkit-gradient(linear, left top, left bottom, from(#7a5be3), to(#6f4adf));
    background: linear-gradient(to bottom, #7a5be3, #6f4adf);
  }
  
  .c-btn--fancy:focus {
    background: #7352e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#7352e2), to(#6841dd));
    background: linear-gradient(to bottom, #7352e2, #6841dd);
  }
  
  .c-btn--warning {
    background: #fd9a18;
    background: -webkit-gradient(linear, left top, left bottom, from(#fd9a18), to(#f16911));
    background: linear-gradient(to bottom, #fd9a18, #f16911);
    border-color: #f16911;
  }
  
  .c-btn--warning:hover {
    background: #fd9104;
    background: -webkit-gradient(linear, left top, left bottom, from(#fd9104), to(#e0600d));
    background: linear-gradient(to bottom, #fd9104, #e0600d);
  }
  
  .c-btn--warning:focus {
    background: #f48c02;
    background: -webkit-gradient(linear, left top, left bottom, from(#f48c02), to(#d75c0d));
    background: linear-gradient(to bottom, #f48c02, #d75c0d);
  }
  
  .c-btn--danger {
    background: #f95359;
    background: -webkit-gradient(linear, left top, left bottom, from(#f95359), to(#d35847));
    background: linear-gradient(to bottom, #f95359, #d35847);
    border-color: #d35847;
  }
  
  .c-btn--danger:hover {
    background: #f83f46;
    background: -webkit-gradient(linear, left top, left bottom, from(#f83f46), to(#cf4937));
    background: linear-gradient(to bottom, #f83f46, #cf4937);
  }
  
  .c-btn--danger:focus {
    background: #f8353c;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8353c), to(#cb4331));
    background: linear-gradient(to bottom, #f8353c, #cb4331);
  }