/* ==========================================================================
   #CHOICES (Checkboxes & Radios)
   ========================================================================== */
/**
 * Checkboxes & Radios are controlled with a simple class called `c-choice`
 * because they are similar in styling, this class is used to share same 
 * styles between them.
 *
 * EXAMPLE: 
 *
 * <div class="c-choice c-choice--checkbox">
 *     <input class="c-choice__input" id="custom-checkbox" type="checkbox">
 *     <label class="c-choice__label" for="custom-checkbox">Checkbox 1</label>
 * </div>
 */
/**
 * 1. Get rid of white space cause by using `inline-flex`.
 * 
 * Read More: https://goo.gl/ajXW52
 */
 .c-choice {
    margin: 0 0 0.9375rem 0;
    color: #354052;
    font-size: 0;
    /* [1] */
    font-weight: 400;
    /**
       * Disabled state
       *
       * NOTE: `disabled` attribute must be added to <input>
       */
  }
  
  .c-choice.is-disabled .c-choice__label {
    color: rgba(53, 64, 82, 0.5);
    cursor: default;
  }
  
  .c-choice.is-disabled .c-choice__label::before {
    border-color: #dfe3e9;
    background-color: #e6eaee;
  }
  
  /**
   * 1. Hide default input and create a customized input.
   * 2. Align the customized input with label.
   */
  .c-choice__input {
    /* [1] */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
  }
  
  .c-choice__input+.c-choice__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #354052;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .c-choice__input+.c-choice__label::before {
    display: inline-block;
    position: relative;
    top: -1px;
    /* [2] */
    width: 16px;
    height: 16px;
    margin: 0 15px 0 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #bbc5d5;
    background-color: #fff;
    color: #fff;
    line-height: 15px;
    text-align: center;
    content: "";
    visibility: visible;
    /* [2] */
  }
  
  /**
   * Checkboxes
   */
  .c-choice--checkbox .c-choice__input+.c-choice__label::before {
    border-radius: 4px;
  }
  
  .c-choice--checkbox .c-choice__input:checked+.c-choice__label::before {
    border-color: #34aa44;
    background-color: #39b54a;
    font-family: "FontAwesome";
    font-size: 10px;
    content: "\f00c";
  }
  
  /**
   * Radio buttons
   */
  .c-choice--radio .c-choice__input+.c-choice__label::before {
    border-radius: 100%;
  }
  
  .c-choice--radio .c-choice__input:checked+.c-choice__label::before {
    border: 4px solid #39b54a;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #34aa44;
    box-shadow: 0 0 0 1px #34aa44;
  }