/* ==========================================================================
   #RANGES
   ========================================================================== */
.c-range {
    width: 100%;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.c-range--inline {
    width: 96px;
}

.c-range::-webkit-slider-thumb {
    position: relative;
    top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #2DA1F8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2DA1F8), to(#1991EB));
    background: linear-gradient(to bottom, #2DA1F8, #1991EB);
}

.c-range::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 1px;
    background-color: #CED0DA;
}