
/* ==========================================================================
   #TABLES
   ========================================================================== */
/**
 * 1. The border-collapse CSS property specifies that the table's borders are 
 *    collapsed and it means that adjacent cells share borders.
 */
 .c-table {
    display: table;
    width: 100%;
    max-width: 100%;
    border: 1px solid #E6EAEE;
    border-radius: 4px;
    background-color: #fff;
    border-collapse: collapse;
    /* [1] */
  }
  
  /**
   * Responsive Tables
   *
   * Wrap any table with one of these classes to make it responsive at certain
   * breakpoint.
   *
   * 1. Wrap your table with this class `c-table-responsive` if the table's width 
   * is larger than 1200px.
   */
  .c-table-responsive {
    /* [1] */
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .c-table-responsive .c-table {
    display: block;
    overflow-y: hidden;
  }
  
  @media (max-width: 576px) {
    .c-table-responsive\@mobile {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .c-table-responsive\@mobile .c-table {
      display: block;
      overflow-y: hidden;
    }
  }
  
  @media (max-width: 768px) {
    .c-table-responsive\@tablet {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .c-table-responsive\@tablet .c-table {
      display: block;
      overflow-y: hidden;
    }
  }
  
  @media (max-width: 992px) {
    .c-table-responsive\@desktop {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .c-table-responsive\@desktop .c-table {
      display: block;
      overflow-y: hidden;
    }
  }
  
  @media (max-width: 1200px) {
    .c-table-responsive\@wide {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .c-table-responsive\@wide .c-table {
      display: block;
      overflow-y: hidden;
    }
  }
  
  /**
   * Use `c-table--zebra` to add zebra-styling to table rows inside the table.
   */
  .c-table--zebra tbody tr:nth-of-type(odd) {
    background-color: rgba(230, 234, 238, 0.3);
  }
  
  /**
   * Highlight table row on hover.
   */
  .c-table--highlight tbody tr:hover {
    background-color: rgba(230, 234, 238, 0.3);
  }
  
  .c-table--fixed {
    table-layout: fixed;
  }
  
  /**
   * Table title/caption
   * <caption> 
   */
  .c-table__title {
    position: relative;
    padding: 25px 30px;
    border: 1px solid #e6eaee;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    color: #354052;
    font-size: 24px;
    text-align: left;
  }
  
  .c-table__title small {
    display: inline-block;
    margin-left: 10px;
    color: #7f8fa4;
    font-size: 14px;
  }
  
  .c-table__title small::before {
    display: inline-block;
    position: relative;
    bottom: -2px;
    width: 1px;
    height: 14px;
    margin-right: 12px;
    background-color: #DFE3E9;
    content: "";
  }
  
  /**
   * A small icon in table title used to perform general action on table like
   * downloading table content as a report.
   */
  .c-table__title-action {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #AFB4BB;
    font-size: 22px;
  }
  
  /**
   * Table Head
   *
   * Slimmer version of table's head with less sapcing and darker background
   */
  .c-table__head--slim {
    padding: 0;
    background-color: #F5F8FA;
  }
  
  .c-table__head--slim .c-table__cell {
    padding: 10px 0 10px 30px;
  }
  
  /**
   * Table Row
   */
  .c-table__row {
    border-top: 1px solid #E6EAEE;
    /* [1] */
    border-bottom: 1px solid #E6EAEE;
    /* [1] */
  }
  
  .c-table__row:last-child {
    border-bottom: 0;
  }
  
  .c-table__row--success,
  .c-table__row--danger,
  .c-table__row--info,
  .c-table__row--warning {
    border-left: 3px solid;
  }
  
  .c-table__row--success {
    border-left-color: #1bb934;
  }
  
  .c-table__row--danger {
    border-left-color: #ed1c24;
  }
  
  .c-table__row--info {
    border-left-color: #2ea1f8;
  }
  
  .c-table__row--warning {
    border-left-color: #fd9a18;
  }
  
  /**
   * Table Cell
   */
  .c-table__cell {
    padding: 20px 0 20px 30px;
    color: #354052;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
  }
  
  .c-table__cell:last-child {
    padding-right: 1.875rem;
  }
  
  .c-table__cell--head {
    color: #7f8fa4;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  /**
   * Table cell with image
   *
   * 2. Use flexbox to make sure all table-cell content is vertically centered.
   */
  .c-table__cell--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* [2] */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }