
/* ==========================================================================
   #PROGRESS
   ========================================================================== */
   .c-progress {
    display: block;
    width: 100%;
    height: 20px;
    margin: 0 0 15px 0;
    border-radius: 20px;
    background-color: #E2E7EE;
  }
  
  /**
   * 1. Default (info) background-color would be applied, if class 
   *    `c-progress--[color]` isn't specified.
   */
  .c-progress__bar {
    position: relative;
    height: 100%;
    border-radius: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #2DA1F8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2DA1F8), to(#1991EB));
    background: linear-gradient(to bottom, #2DA1F8, #1991EB);
    /* [1] */
  }
  
  /* Size variants
     ========================================================================== */
  .c-progress--xsmall {
    height: 2px;
  }
  
  .c-progress--small {
    height: 4px;
  }
  
  .c-progress--medium {
    height: 8px;
  }
  
  /* Style variants
     ========================================================================== */
  .c-progress--danger .c-progress__bar {
    background: #f95359;
    background: -webkit-gradient(linear, left top, left bottom, from(#f95359), to(#d35847));
    background: linear-gradient(to bottom, #f95359, #d35847);
  }
  
  .c-progress--info .c-progress__bar {
    background: #2DA1F8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2DA1F8), to(#1991EB));
    background: linear-gradient(to bottom, #2DA1F8, #1991EB);
  }
  
  .c-progress--primary .c-progress__bar {
    background: #475364;
    background: -webkit-gradient(linear, left top, left bottom, from(#475364), to(#273142));
    background: linear-gradient(to bottom, #475364, #273142);
  }
  
  .c-progress--success .c-progress__bar {
    background: #5AD946;
    background: -webkit-gradient(linear, left top, left bottom, from(#5AD946), to(#2BB415));
    background: linear-gradient(to bottom, #5AD946, #2BB415);
  }
  
  .c-progress--warning .c-progress__bar {
    background: #F8CF5D;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8CF5D), to(#FDC018));
    background: linear-gradient(to bottom, #F8CF5D, #FDC018);
  }
  
  .c-progress--fancy .c-progress__bar {
    background: #9D90E4;
    background: -webkit-gradient(linear, left top, left bottom, from(#9D90E4), to(#8261E6));
    background: linear-gradient(to bottom, #9D90E4, #8261E6);
  }
  
  /* Multi-level progress bars
     ========================================================================== */
  .c-progress__bar .c-progress__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: red;
    z-index: 200;
  }