/* ==========================================================================
   #BUTTON GROUP
   ========================================================================== */
/**
 * A series of buttons grouped together on a single line.
 */
 .c-btn-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  .c-btn-group>.c-btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .c-btn-group>.c-btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .c-btn-group>.c-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  
  .c-btn-group>.c-btn+.c-btn {
    border-left: 0;
  }
  
  /**
   * Force button group to take full width.
   */
  .c-btn-group--fullwidth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  .c-btn-group--fullwidth>.c-btn {
    width: 100%;
  }