/* ==========================================================================
   #BADGES
   ========================================================================== */
   .c-badge {
    display: inline-block;
    margin: 0;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    /**
       * Badges with icons
       */
  }
  
  .c-badge>i {
    margin-right: 0.3125rem;
  }
  
  .c-badge--small {
    padding: 0.25rem 0.625rem;
    font-size: 10px;
  }
  
  .c-badge--xsmall {
    padding: 0.125rem 0.3125rem;
    font-size: 10px;
  }
  
  /* Style variants
     ========================================================================== */
  .c-badge--success {
    background-color: #1bb934;
  }
  
  .c-badge--info {
    background-color: #2ea1f8;
  }
  
  .c-badge--warning {
    background-color: #fd9a18;
  }
  
  .c-badge--danger {
    background-color: #ed1c24;
  }
  
  .c-badge--primary {
    background-color: #475364;
  }
  
  .c-badge--secondary {
    background-color: #b7c0cd;
    color: #fff;
  }