/* ==========================================================================
   #CLOSE
   ========================================================================== */
/**
 * A small button for closing components, used with closable components 
 * like alerts, modals. 
 */
 .c-close {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.625rem;
    line-height: 1;
    opacity: 0.7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .c-close:hover,
  .c-close:focus {
    opacity: 1;
  }
  
  .c-close:focus {
    outline: 0;
  }