/* ==========================================================================
   #ALERTS
   ========================================================================== */
   .c-alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 0 0.9375rem 0;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    color: #fff;
  }
  
  .c-alert .c-close {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
  }
  
  .c-alert.fade {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
  }
  
  .c-alert.fade.show {
    opacity: 1;
  }
  
  /**
   * 1. Align icon with text properly.
   */
  .c-alert__icon {
    position: relative;
    bottom: -4px;
    /* [1] */
    margin-right: 0.625rem;
    font-size: 1.125rem;
    opacity: 0.7;
  }
  
  /* Style variants
     ========================================================================== */
  .c-alert--success {
    background-color: #1bb934;
  }
  
  .c-alert--info {
    background-color: #2ea1f8;
  }
  
  .c-alert--warning {
    background-color: #fd9a18;
  }
  
  .c-alert--danger {
    background-color: #ed1c24;
  }