/* ==========================================================================
   #AVATARS
   ========================================================================== */
/**
 * 1. Enable avatars to act like a dropdown toggle.
 * 2. Small arrow (icon) used in avatars with dropdowns.
 * 3. Remove default link decoration when avatar is used as a dropdown toggle.
 */
.c-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-avatar.has-dropdown {
    /* [1] */
    cursor: pointer;
    overflow: visible;
}

.c-avatar.has-dropdown::after {
    /* [2] */
    display: block;
    padding-left: 10px;
    color: #7f8fa4;
    font-family: "FontAwesome";
    content: "\f107";
}

.c-avatar.has-dropdown:hover {
    text-decoration: none;
    /* [3] */
}

.c-avatar .c-avatar__img {
    width: 70px;
    height: 70px;
}

.c-avatar__img {
    border-radius: 100%;
    overflow: hidden;
}

/* Size variants
     ========================================================================== */
.c-avatar--xsmall .c-avatar__img {
    width: 36px;
    height: 36px;
}

.c-avatar--small .c-avatar__img {
    width: 50px;
    height: 50px;
}

.c-avatar--medium .c-avatar__img {
    width: 60px;
    height: 60px;
}

.c-avatar--large .c-avatar__img {
    width: 90px;
    height: 90px;
}

.c-avatar--xlarge .c-avatar__img {
    width: 110px;
    height: 110px;
}

.c-avatar--super .c-avatar__img {
    width: 130px;
    height: 130px;
}