/* ==========================================================================
   #CARD
   ========================================================================== */
/**
 * A simple component to apply card-like style, used with genearal widgets that 
 * have sub-components in it.
 */
 .c-card {
    position: relative;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    background-color: #fff;
  }
  
  /**
   * 1. Display a scrollbar if the content of the card is larger than the 
   *    card's width.
   */
  .c-card--responsive {
    overflow: auto;
    /* [1] */
  }
  
  /**
   * 1. Align header's content vertically in the center
   */
  .c-card__header {
    padding: 1.5625rem 1.875rem;
    border-bottom: 1px solid #e6eaee;
    background-color: #fafbfc;
  }
  
  /**
   * Remove default background-color of card's header
   */
  .c-card__header--transparent {
    background-color: transparent;
  }
  
  .c-card__title {
    margin: 0;
    font-size: 1.125rem;
  }
  
  .c-card__meta {
    color: #7f8fa4;
    font-size: 0.75rem;
  }
  
  .c-card__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -35px;
    right: 0;
    left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 100%;
    color: #fff;
    font-size: 1.75rem;
    background: #2ea1f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
    background: linear-gradient(to bottom, #2ea1f8, #1990ea);
  }
  
  .c-card__icon:hover i {
    color: inherit;
    text-decoration: none;
  }
  
  .c-card__body {
    padding: 1.875rem;
  }
  