/* ==========================================================================
   #DROPDOWN
   ========================================================================== */
/**
 * A wrapper for the dropdown
 */
 .c-dropdown {
    display: inline-block;
    position: relative;
  }
  
  /**
   * Dropdown Menu
   * 
   * 1. No matter what size is the dropdown toggle `dropdown-toggle` (a class from
   *    bootstrap), dropdown menu should be positioned properly.
   */
  .c-dropdown__menu {
    position: absolute;
    top: 100%;
    /* [1] */
    right: 0;
    width: 9.375rem;
    margin: 5px 0 0;
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    background-color: #fff;
    text-align: left;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    z-index: 400;
  }
  
  .c-dropdown .c-dropdown__menu,
  .dropdown .c-dropdown__menu {
    opacity: 0;
    visibility: hidden;
  }
  
  .c-dropdown.show .c-dropdown__menu,
  .dropdown.show .c-dropdown__menu {
    opacity: 1;
    visibility: visible;
  }
  
  /**
   * A larger dropdown menu for dropdowns used in navbar.
   */
  .c-dropdown__menu--large {
    width: 18.75rem;
  }
  
  .c-dropdown__menu--large .c-dropdown__item {
    padding: 0.625rem 0.9375rem;
  }
  
  /**
   * 1. Remove border from last item to prevent it from collapsing with dropdown
   *    menu's last border.
   */
  .c-dropdown__item {
    display: block;
    padding: 0.5rem 0.9375rem;
    border-bottom: 1px solid #dfe3e9;
    color: #354052;
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .c-dropdown__item:hover {
    background-color: #f2f4f7;
    color: #2ea1f8;
    text-decoration: none;
  }
  
  .c-dropdown__item:last-child {
    border-bottom: 0;
    /* [1] */
  }
  