/* ==========================================================================
   #NAV
   ========================================================================== */
/**
 * Nav sits within the main navbar area. It’s fully responsive as it holds 
 * navigation items/links that will be collapsed, toggled in small 
 * screens via `c-nav-toggle` component.
 */
 .c-nav {
    display: block;
    /**
       * Responsive Nav
       *
       * 1. Remove extra margin when `u-mr-auto` utility is used. 
       */
  }
  
  @media (max-width: 768px) {
    .c-nav {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin-top: 0.9375rem;
      margin-right: -0.9375rem !important;
      /* [1] */
      margin-left: -0.9375rem;
      border-top: 1px solid #e6eaee;
      /**
           * Bootstrap classes used to show and hide nav.
           * This behaviour depends on collapse.js plugin.
           */
    }
  
    .c-nav.collapse {
      display: none;
    }
  
    .c-nav.show {
      display: block;
    }
  
    .c-nav.collapsing {
      position: relative;
      height: 0;
      -webkit-transition: height 0.6s;
      transition: height 0.6s;
      overflow: hidden;
    }
  }
  
  .c-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /** 
   * 1. Allow positioning dropdown menus inside nav items.
   */
  .c-nav__item {
    position: relative;
    /* [1] */
    margin: 0 40px 0 0;
  }
  
  @media (max-width: 768px) {
    .c-nav__item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-right: 0;
      padding: 15px;
      border-bottom: 1px solid #e6eaee;
    }
  }
  
  .c-nav__item:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .c-nav__item:last-child {
      padding-bottom: 5px;
      border-bottom: 0;
    }
  }
  
  .c-nav__link {
    color: #9FA9BA;
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .c-nav__link:hover {
    text-decoration: none;
  }
  
  .c-nav__link.is-active {
    color: #2ea1f8;
  }
  
  @media (max-width: 768px) {
    .c-nav__link {
      display: block;
      color: #354052;
      font-size: 1rem;
    }
  }
  
  /* Nav Toggle
     ========================================================================== */
  /**
   * Nav toggle is the popular hamburger-like icon that would show/hide `c-nav` 
   * via javascript through `js-nav-toggle` to toggle `is-open` class.
   * 
   * 1. Remove default button styles.
   * 2. Show only on small screens, hide on large screen.
   */
  .c-nav-toggle {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 0 0 0.9375rem;
    /* [1] */
    padding: 0;
    /* [1] */
    border: 0;
    /* [1] */
    outline: none;
    background-color: transparent;
    /* [1] */
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .c-nav-toggle {
      display: block;
      /* [2] */
    }
  }
  
  /**
   * The hamburger icon itself, 3 bars stacked on top of each other. 
   */
  .c-nav-toggle__bar {
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 4px;
    background-color: #354052;
  }
  
  .c-nav-toggle__bar:first-child {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  
  .c-nav-toggle__bar:last-child {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }