/* ==========================================================================
   #INPUTS
   ========================================================================== */
   .c-input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.59375rem 0.9375rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    background-color: #fff;
    color: #354052;
    font-size: 0.875rem;
    font-weight: 400;
    resize: none;
  }
  
  .c-input::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    color: rgba(53, 64, 82, 0.5);
    font-weight: 400;
    opacity: 0.5;
  }
  
  .c-input:-ms-input-placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    color: rgba(53, 64, 82, 0.5);
    font-weight: 400;
    opacity: 0.5;
  }
  
  .c-input::-ms-input-placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    color: rgba(53, 64, 82, 0.5);
    font-weight: 400;
    opacity: 0.5;
  }
  
  .c-input::placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    color: rgba(53, 64, 82, 0.5);
    font-weight: 400;
    opacity: 0.5;
  }
  
  .c-input:focus {
    border-color: #2ea1f8;
    outline: none;
  }
  
  .c-input:focus::-webkit-input-placeholder {
    opacity: 0.2;
  }
  
  .c-input:focus:-ms-input-placeholder {
    opacity: 0.2;
  }
  
  .c-input:focus::-ms-input-placeholder {
    opacity: 0.2;
  }
  
  .c-input:focus::placeholder {
    opacity: 0.2;
  }
  
  .c-input.is-disabled,
  .c-input:disabled {
    border-color: #dfe3e9;
    background-color: #e6eaee;
    color: rgba(53, 64, 82, 0.5);
    cursor: not-allowed;
  }
  
  /**
   * Textarea
   */
  textarea.c-input {
    min-height: 90px;
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  /* State variants
     ========================================================================== */
  .c-input--success {
    border-color: #1bb934;
  }
  
  .c-input--success:focus {
    border-color: #1bb934;
  }
  
  .c-input--warning {
    border-color: #fd9a18;
  }
  
  .c-input--warning:focus {
    border-color: #fd9a18;
  }
  
  .c-input--danger {
    border-color: #ed1c24;
    color: #ed1c24;
  }
  
  .c-input--danger:focus {
    border-color: #ed1c24;
    color: #ed1c24;
  }