/* ==========================================================================
   #FIELD
   ========================================================================== */
/**
 * Form field `c-field` component is used as a wrapper for more complex inputs
 * that contain an icon, addon, form feedback and form message.
 *
 * 1. Take up (full width - width of field addon).
 */
 .c-field {
    position: relative;
    width: 100%;
  }
  
  .c-field.has-addon-left,
  .c-field.has-addon-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  
  .c-field.has-addon-left>.c-input,
  .c-field.has-addon-right>.c-input {
    -ms-flex-preferred-size: calc(100% - $field-addon-width);
    flex-basis: calc(100% - $field-addon-width);
    /* [1] */
  }
  
  .c-field.has-addon-left>.c-field__addon {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .c-field.has-addon-left>.c-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .c-field.has-addon-right>.c-field__addon {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .c-field.has-addon-right>.c-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .c-field.has-icon-left>.c-field__icon,
  .c-field.has-icon-right>.c-field__icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #CED0DA;
    font-size: 1.125rem;
  }
  
  .c-field.has-icon-left>.c-input {
    padding-left: 40px;
  }
  
  .c-field.has-icon-left>.c-field__icon {
    left: 15px;
  }
  
  .c-field.has-icon-right>.c-input {
    padding-right: 40px;
  }
  
  .c-field.has-icon-right>.c-field__icon {
    right: 15px;
  }
  
  /**
   * Inline fields don't take up whole width 
   *
   * Used with search input in the navbar & toolbar.
   */
  .c-field--inline {
    width: 270px;
  }
  
  @media (max-width: 768px) {
    .c-field--inline {
      width: 100%;
    }
  }
  
  /**
   * Labels are used with inputs, always use labels with inputs for better 
   * accesibility. Hide labels using `u-hidden-visually` to display it for 
   * screen readers.
   *
   * USAGE: <label class="c-field__label u-hidden-visually"></label>
   */
  .c-field__label {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 0.3125rem 0;
    color: #7f8fa4;
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  /**
   * Addon is an icon placed in box next to input, used as a visual indicator
   */
  .c-field__addon {
    background: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F2F4F7));
    background: linear-gradient(to bottom, #FFF, #F2F4F7);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-preferred-size: 2.625rem;
    flex-basis: 2.625rem;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    color: #CED0DA;
    font-size: 1.125rem;
    text-align: center;
  }
  
  /**
   * Field message used as a helper note or feedback.
   */
  .c-field__message {
    display: inline-block;
    margin: 0 0.3125rem 0 0;
    padding: 0;
    color: rgba(53, 64, 82, 0.5);
    font-size: 0.75rem;
  }
  
  .c-field__message>i {
    margin-right: 0.3125rem;
  }
  