<div class="container-fluid">
  <div class="row u-mb-medium">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="c-toolbar u-mb-medium">
        <div class="c-range c-range--inline u-mr-auto"></div>
        <button class="c-btn c-btn--info u-ml-auto" [disabled]="!showContent" (click)="createUser()">
          <i class="fa fa-plus u-mr-xsmall u-opacity-medium"></i>New User
        </button>
        <button class="c-btn c-btn--secondary u-ml-small" [disabled]="!showContent" (click)="initializeData()">
          <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
        </button>
      </div>
      <div class="table-responsive">
        <table class="c-table c-table--zebra u-mb-large" id="datatable2">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head"></th>
              <th class="c-table__cell c-table__cell--head">Name</th>
              <th class="c-table__cell c-table__cell--head">Email</th>
              <th class="c-table__cell c-table__cell--head">Role</th>
              <th class="c-table__cell c-table__cell--head">Date Created</th>
              <th class="c-table__cell c-table__cell--head">Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="showContent">
            <!-- <tr class="c-table__row c-table__row--danger"> -->
            <tr class="c-table__row" *ngFor="let item of contactsArr">
              <td class="c-table__cell">
                <div class="c-avatar c-avatar--small">
                  <img class="c-avatar__img" [src]="item.gravatar" (error)="errorAvatarHandler($event)">
                </div>
              </td>
              <td class="c-table__cell">
                {{item.firstName}} {{item.lastName}}
              </td>
              <td class="c-table__cell">
                {{item.email}}
              </td>
              <td class="c-table__cell">
                {{item.role}}
              </td>
              <td class="c-table__cell">
                {{item.dateCreated | date: 'short'}}
              </td>
              <td class="c-table__cell u-text-right">
                <div class="c-dropdown dropdown" dropdown>
                  <button class="c-btn c-btn--secondary has-dropdown" dropdownToggle>Action</button>
                  <div class="c-dropdown__menu dropdown-menu" *dropdownMenu>
                    <a class="c-dropdown__item dropdown-item" (click)="updateUser(item)"><i class="fa fa-pencil u-mr-xsmall"></i>
                      Update Role</a>
                    <a class="c-dropdown__item dropdown-item" (click)="revokeUser(item)"><i class="fa fa-trash u-mr-xsmall"></i>
                      Delete User</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!showContent">
            <!-- <tr class="c-table__row c-table__row--danger"> -->
            <tr class="c-table__row" *ngFor="let item of fakeArr">
              <td class="c-table__cell">
                <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell u-text-right">
                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>