<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
    <header class="c-card__header u-text-center u-pt-large">
      <a class="c-card__icon" href="#!">
        <img src="./assets/img/logo-login.svg" alt="Dashboard's Logo">
      </a>
      <div class="row u-justify-center">
        <div class="col-9">
          <h1 class="u-h3">Forgot your password</h1>
          <p class="u-h6 u-text-mute">
            Enter your email address to receive password reset instructions
          </p>
        </div>
      </div>
    </header>

    <form class="c-card__body">
      <div class="c-field u-mb-small">
        <label class="c-field__label" for="input1">Email Address:</label>
        <input class="c-input" type="email" id="input1" placeholder="clark@dashboard.com">
      </div>

      <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Send Password Reset Instructions</button>
    </form>
  </div>

  <a class="u-text-mute u-text-small" (click)="registerUser()">
    Don’t have an account yet? Get Started
  </a>
</div>