<div class="c-toolbar u-mb-small">
    <div class="c-range c-range--inline u-mr-auto"></div>
    <button class="c-btn c-btn--info u-ml-small" (click)="uploadMedia()" [disabled]="showLoading" *ngIf="!showDragDropUpload">
        <i class="fa fa-upload u-mr-xsmall u-opacity-medium"></i>Upload
    </button>
    <button class="c-btn c-btn--danger u-ml-small" (click)="cancelUploadMedia()" [disabled]="showLoading" *ngIf="showDragDropUpload">
        <i class="fa fa-upload u-mr-xsmall u-opacity-medium"></i>Cancel Upload
    </button>
    <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
        <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
    </button>
</div>
<div (dragover)="allowDrop($event)">
    <div *ngIf="showDragDropUpload" class="dropzone dropzone-container" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
    <div class="c-gallery-card" *ngIf="!showDragDropUpload">
        <div *ngIf="showContentImage">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-xs-3 u-mb-xsmall" *ngFor="let item of imagesArr" (click)="selectMedia(item,$event)" (dblclick)="viewDetail(item)" (contextmenu)="onContextMenu($event, item)">
                    <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
                        <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}" [attr.data-image]="item.largeImage | linkHttp">
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="imagesArr && imagesArr.length >= perPage">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 u-mt-large text-center">
                    <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
                    <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
                        Loading...</button>
                </div>
            </div>
            <div class="card myCardNotif" *ngIf="showContentImageErr">
                <div class="text-center padding">
                    <img src="./assets/img/error.png" />
                    <p class="apperror">{{imageContentErr.message}}</p>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!showContentImage">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-xs-3 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
                <!-- <app-skeleton-item height="220px" width="220px"></app-skeleton-item> -->
                <app-skeleton-item height="220px"></app-skeleton-item>
            </div>
        </div>
    </div>
</div>
<context-menu>
  <ng-template contextMenuItem (execute)="castContextMenuEvent(item.key,item)" *ngFor="let item of contextMenu">
    {{item.text}}
  </ng-template>
</context-menu>