<div class="c-toolbar u-mb-small">
    <button class="c-btn c-btn--secondary" (click)="back()">
        <i class="fa fa-chevron-left u-mr-xsmall"></i> Back
    </button>
    <div class="c-range c-range--inline u-mr-auto"></div>
    <button class="c-btn c-btn--success u-ml-auto" [disabled]="showLoading" (click)="downloadImage()">Download</button>
    <button class="c-btn c-btn--info u-ml-small" [disabled]="showLoading" (click)="shareLogo()">Share</button>
    <button class="c-btn c-btn--success u-ml-small" [disabled]="showLoading" (click)="featureLogo()">Set as
        Main</button>
    <button class="c-btn c-btn--danger u-ml-small" [disabled]="showLoading" (click)="deleteImage()">Delete</button>
</div>
<div class="containter-fluid">
    <div class="row" *ngIf="!showError">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="c-tabs__list" id="myTab" role="tablist">
                <li><a class="c-tabs__link" [ngClass]="{'active': isGeneral}" id="nav-general-tab" role="tab"
                        aria-controls="nav-general" aria-selected="false" (click)="showTab('general')"> General</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active': isEmbededInfo}" id="nav-embed-tab" role="tab"
                        aria-controls="nav-embed" aria-selected="false" (click)="showTab('embed')"> Embeded Image
                        Information</a></li>
            </ul>
            <div class="c-tabs__content tab-content" id="nav-tabContent">
                <div class="c-tabs__pane u-pb-medium" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab"
                    *ngIf="isGeneral">
                    <div class="row">
                        <div class="col-sm-12 col-lg-5 col-xl-5 col-md-5">
                            <div class="c-project-card u-mb-medium">
                                <div class="c-project-card__img">
                                    <div class="progressive-image img-fluid img-thumbnail" [hidden]="showLoading">
                                        <div class="loadingImage"
                                            [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}"
                                            [attr.data-image]="item.xlargeImage | linkHttp">
                                        </div>
                                        <div class="overlay"></div>
                                    </div>
                                    <app-skeleton-item height="500px" width="100%" *ngIf="showLoading">
                                    </app-skeleton-item>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-7 col-xl-7 col-md-7">
                            <div class="c-project-card u-mb-medium" *ngIf="!showLoading">
                                <div class="c-project-card__content">
                                    <div class="c-project-card__head">
                                        <h4 class="c-project-card__title">{{item.caption}}</h4>
                                        <p class="c-project-card__info" *ngIf="item.uploadedAt">Uploaded:
                                            {{item.uploadedAt
                                            | date: 'short'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="c-project-card u-mb-medium" *ngIf="showLoading">
                                <div class="c-project-card__content">
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__pane" id="nav-embed" role="tabpanel" aria-labelledby="nav-embed-tab"
                    *ngIf="isEmbededInfo">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="cropImage">Cropped Image</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="cropImage" #cropImage
                                        [(ngModel)]="item.cropImage">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (cbOnSuccess)="copied($event)"
                                            [ngxClipboard]="cropImage"><i class="fa fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="thumbImage">Thumb Image</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="thumbImage" #thumbImage
                                        [(ngModel)]="item.thumbImage">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (cbOnSuccess)="copied($event)"
                                            [ngxClipboard]="thumbImage"><i class="fa fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="previewImage">Preview Image</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="previewImage" #previewImage
                                        [(ngModel)]="item.previewImage">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (cbOnSuccess)="copied($event)"
                                            [ngxClipboard]="previewImage"><i class="fa fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="largeImage">Large Image</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="largeImage" #largeImage
                                        [(ngModel)]="item.largeImage">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" [ngxClipboard]="largeImage"
                                            (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="xlargeImage">xLarge Image</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="xlargeImage" #xlargeImage
                                        [(ngModel)]="item.xlargeImage">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" [ngxClipboard]="xlargeImage"
                                            (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center" *ngIf="showError">
        <div class="card myCardNotif" style="width: 100%">
            <div class="text-center padding">
                <img src="./assets/img/error.png" />
                <p class="apperror u-mt-medium">No logo media found!</p>
            </div>
        </div>
    </div>
</div>