/* ==========================================================================
   #BASE TYPOGRAPHY
   ========================================================================== */
/**
 * Headings, paragraphs, links.
 */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin: 0 0 0.5rem;
   color: #354052;
   font-weight: 500;
 }
 
 h1 {
   font-size: 2.25rem;
 }
 
 h2 {
   font-size: 1.75rem;
 }
 
 h3 {
   font-size: 1.5rem;
 }
 
 h4 {
   font-size: 1.25rem;
 }
 
 h5 {
   font-size: 1.125rem;
 }
 
 h6 {
   font-size: 1rem;
 }
 
 p {
   color: #354052;
   font-size: 0.875rem;
 }
 
 strong {
   color: #354052;
 }
 
 dl dt,
 dl dd {
   color: #354052;
 }
 
 /**
  * 1. Remove the gray background on active links in IE 10.
  * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
  */
 a {
   -webkit-transition: color 0.15s ease-in-out;
   transition: color 0.15s ease-in-out;
   background-color: transparent;
   /* [1] */
   color: #2ea1f8;
   text-decoration: none;
   cursor: pointer;
   -webkit-text-decoration-skip: objects;
   text-decoration-skip: objects;
   /* [2] */
 }
 
 a:hover {
   color: #2ea1f8;
   text-decoration: underline;
 }
 
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 pre,
 code,
 kbd,
 samp {
   font-family: monospace, monospace;
   /* [1] */
   font-size: 1em;
   /* [2] */
 }
 
 mark {
   background-color: #ff0;
   color: #fff;
 }
 
 small {
   font-size: 85%;
 }
 
 blockquote {
   padding-left: 15px;
   border-left: 3px solid #e6eaee;
 }
 