<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': isImage}" id="nav-images-tab" role="tab"
            aria-controls="nav-images" aria-selected="true" (click)="showTab('image')"><i class="fa fa-image"></i>
            Images</a></li>

        <li><a class="c-tabs__link" [ngClass]="{'active': isLogo}" id="nav-logo-tab" role="tab" aria-controls="nav-logo"
            aria-selected="false" (click)="showTab('logo')"><i class="fa fa-file-image-o"></i> Logo</a></li>

        <li><a class="c-tabs__link" [ngClass]="{'active': isPrint}" id="nav-print-tab" role="tab"
            aria-controls="nav-print" aria-selected="false" (click)="showTab('print')"><i class="fa fa-print"></i>
            Brochure</a></li>

        <li><a class="c-tabs__link" [ngClass]="{'active': isVideo}" id="nav-video-tab" role="tab"
            aria-controls="nav-video" aria-selected="false" (click)="showTab('video')"><i
              class="fa fa-file-video-o"></i> Videos</a></li>

        <!-- <li><a class="c-tabs__link" [ngClass]="{'active': isAlbum}" id="nav-albums-tab" role="tab" aria-controls="nav-albums" aria-selected="false" (click)="showTab('album')">Albums</a></li> -->
      </ul>

      <div class="c-tabs__content tab-content u-mb-large" id="nav-tabContent">
        <div class="c-tabs__pane u-pb-medium" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab"
          *ngIf="isImage">
          <app-media-images></app-media-images>
        </div>

        <div class="c-tabs__pane u-pb-medium" id="nav-logo" role="tabpanel" aria-labelledby="nav-logo-tab"
          *ngIf="isLogo">
          <app-media-logo></app-media-logo>
        </div>

        <div class="c-tabs__pane u-pb-medium" id="nav-print" role="tabpanel" aria-labelledby="nav-print-tab"
          *ngIf="isPrint">
          <app-media-print></app-media-print>
        </div>

        <div class="c-tabs__pane u-pb-medium" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab"
          *ngIf="isVideo">
          <app-media-video></app-media-video>
        </div>

      </div>

    </div>
  </div>
</div>