<div class="c-toolbar u-mb-small">
    <button class="c-btn c-btn--secondary" (click)="back()">
        <i class="fa fa-chevron-left u-mr-xsmall"></i> Back
    </button>
    <div class="c-range c-range--inline u-mr-auto"></div>
    <button class="c-btn c-btn--success u-ml-auto" [disabled]="showLoading" (click)="downloadImage()">Download</button>
    <button class="c-btn c-btn--info u-ml-small" [disabled]="showLoading" (click)="shareBrochure()">Share</button>
    <button class="c-btn c-btn--info u-ml-small" [disabled]="showLoading" (click)="uploadMedia()">Update</button>
    <!-- <button class="c-btn c-btn--warning u-ml-small" [disabled]="showLoading">Edit</button> -->
    <button class="c-btn c-btn--danger u-ml-small" [disabled]="showLoading" (click)="deleteBrochure()">Delete</button>
</div>
<div class="container-fluid">
    <div class="row" *ngIf="!showError">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="c-tabs__list" id="myTab" role="tablist">
                <li><a class="c-tabs__link" [ngClass]="{'active': isGeneral}" id="nav-general-tab" role="tab"
                        aria-controls="nav-general" aria-selected="false" (click)="showTab('general')"> General</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active': isMarket}" id="nav-market-tab" role="tab"
                        aria-controls="nav-market" aria-selected="false" (click)="showTab('market')"> Pages</a></li>
            </ul>
            <div class="c-tabs__content tab-content" id="nav-tabContent">
                <div class="c-tabs__pane u-pb-medium" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab"
                    *ngIf="isGeneral">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                            <div class="c-project-card u-mb-medium">
                                <div class="c-project-card__img">
                                    <div class="progressive-image img-fluid img-thumbnail" [hidden]="showLoading">
                                        <div class="loadingImage"
                                            [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}"
                                            [attr.data-image]="item.image800 | linkHttp">
                                        </div>
                                        <div class="overlay"></div>
                                    </div>
                                    <app-skeleton-item height="500px" width="100%" *ngIf="showLoading">
                                    </app-skeleton-item>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                            <div class="c-project-card u-mb-medium" *ngIf="!showLoading">
                                <div class="c-project-card__content">
                                    <div class="c-project-card__head">
                                        <h4 class="c-project-card__title">
                                            <span *ngIf="item.brochure_caption">{{item.brochure_caption}}</span>
                                            <span *ngIf="item.caption">{{item.caption}}</span>
                                        </h4>
                                        <p class="c-project-card__info" *ngIf="item.uploadedAt">Uploaded:
                                            {{item.uploadedAt
                                            | date: 'short'}}</p>
                                    </div>
                                    <div class="c-project-card__meta" *ngIf="item.imageSize">
                                        <h4 class="c-project-card__title">Size</h4>
                                        <p class="u-text-danger u-text-bold">{{item.imageSize | fileSize}}</p>
                                    </div>
                                    <div class="c-project-card__meta" *ngIf="item.type">
                                        <h4 class="c-project-card__title">Type</h4>
                                        <p class="u-text-danger u-text-bold">{{item.type}}</p>
                                    </div>
                                    <div class="c-project-card__meta" *ngIf="item.format">
                                        <h4 class="c-project-card__title">Format</h4>
                                        <p class="u-text-danger u-text-bold">{{item.format}}</p>
                                    </div>
                                    <div class="c-project-card__meta" *ngIf="item.page_no">
                                        <h4 class="c-project-card__title">Pages</h4>
                                        <p class="u-text-danger u-text-bold">{{item.page_no}}</p>
                                    </div>
                                    <div class="c-project-card__meta" *ngIf="item.validityDate">
                                        <h4 class="c-project-card__title">Validity</h4>
                                        <p class="u-text-danger u-text-bold">{{item.validityDate | date: 'short'}}</p>
                                    </div>
                                    <div class="c-project-card__meta" *ngIf="item.privilege">
                                        <h4 class="c-project-card__title">Privacy</h4>
                                        <p class="u-text-danger u-text-bold">{{item.privilege | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="c-project-card u-mb-medium" *ngIf="showLoading">
                                <div class="c-project-card__content">
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                    <div class="c-project-card__head">
                                        <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                                        <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__pane" id="nav-market" role="tabpanel" aria-labelledby="nav-market-tab"
                    *ngIf="isMarket">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="container">
                                <carousel showIndicators="true">
                                    <slide *ngFor="let page of item.previewPages">
                                        <img [src]="page | linkHttp" onError="this.src='./assets/img/error.png'"
                                            style="display: block; width: 100%;">
                                    </slide>
                                </carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center" *ngIf="showError">
        <div class="card myCardNotif" style="width: 100%">
            <div class="text-center padding">
                <img src="./assets/img/error.png" />
                <p class="apperror u-mt-medium">No brochure found!</p>
            </div>
        </div>
    </div>
</div>