<header class="c-navbar u-mb-medium">
  <!-- <button class="c-sidebar-toggle u-mr-small">
    <span class="c-sidebar-toggle__bar"></span>
    <span class="c-sidebar-toggle__bar"></span>
    <span class="c-sidebar-toggle__bar"></span>
  </button> -->
  <h2 class="c-navbar__title u-mr-auto">{{appModule}}</h2>
  <div class="c-field has-icon-right c-navbar__search u-hidden-down@tablet u-ml-auto u-mr-small" *ngIf="hasSearch">
    <span class="c-field__icon">
      <i class="fa fa-search"></i>
    </span>
    <label class="u-hidden-visually" for="navbar-search">Search</label>
    <input class="c-input" id="navbar-search" name="navbar-search" [(ngModel)]="txtSearch" (keydown)="onKeydown($event)"
      type="text" placeholder="Search">
  </div>
  <div class="c-dropdown">
    <a class="c-notification" (click)="openHome()">
      <span class="c-notification__icon">
        <i class="fa fa-users"></i>
      </span>
      Accounts
    </a>
  </div>
  <div class="c-dropdown">
    <a class="c-notification" (click)="logOutApp()">
      <span class="c-notification__icon">
        <i class="fa fa-sign-out"></i>
      </span>
      Logout
    </a>
  </div>
</header>