<div class="c-toolbar u-mb-medium">
    <div class="c-dropdown dropdown u-mr-small" dropdown>
        <button class="c-btn c-btn--secondary has-dropdown" dropdownToggle>
            <i class="fa fa-filter u-opacity-medium"></i> Filter Item by Type ({{filterType}})
        </button>
        <ul *dropdownMenu class="c-dropdown__menu dropdown-menu">
            <li role="menuitem"><a class="c-dropdown__item dropdown-item" (click)="filterPrint('Guide')">Guide</a></li>
            <li role="menuitem"><a class="c-dropdown__item dropdown-item"
                    (click)="filterPrint('Infographic')">Infographic</a></li>
            <li role="menuitem"><a class="c-dropdown__item dropdown-item"
                    (click)="filterPrint('Itirenary')">Itirenary</a></li>
            <li role="menuitem"><a class="c-dropdown__item dropdown-item" (click)="filterPrint('Map')">Map</a></li>
            <li role="menuitem"><a class="c-dropdown__item dropdown-item"
                    (click)="filterPrint('Promotional')">Promotional</a></li>
        </ul>
    </div>
    <div class="c-dropdown dropdown u-mr-small" dropdown>
        <button class="c-btn c-btn--secondary has-dropdown" dropdownToggle>
            <i class="fa fa-filter u-opacity-medium"></i> {{printstatus | uppercase}}
        </button>
        <ul *dropdownMenu class="c-dropdown__menu dropdown-menu">
            <li role="menuitem"><a class="c-dropdown__item dropdown-item" (click)="printSegmentChanged()">ALL</a></li>
            <li role="menuitem"><a class="c-dropdown__item dropdown-item" (click)="printSegmentChanged()">EXPIRED</a>
            </li>
        </ul>
    </div>
    <div class="c-range c-range--inline u-mr-auto"></div>
    <button class="c-btn c-btn--info u-ml-small" (click)="uploadMedia()" [disabled]="showLoading"
        *ngIf="!showDragDropUpload">
        <i class="fa fa-upload u-mr-xsmall u-opacity-medium"></i>Upload
    </button>
    <button class="c-btn c-btn--danger u-ml-small" (click)="cancelUploadMedia()" [disabled]="showLoading"
        *ngIf="showDragDropUpload">
        <i class="fa fa-upload u-mr-xsmall u-opacity-medium"></i>Cancel Upload
    </button>
    <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
        <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
    </button>
</div>
<div (drop)="drop($event)" (dragover)="allowDrop($event)">
    <div *ngIf="showDragDropUpload" class="dropzone dropzone-container" [dropzone]="config"
        (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
    <div class="c-gallery-card" *ngIf="!showDragDropUpload">
        <div *ngIf="showContentPrint">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-xs-3 u-mb-xsmall" *ngFor="let item of printArr"
                    (click)="selectMedia(item,$event)" (dblclick)="viewDetail(item)"
                    (contextmenu)="onContextMenu($event, item)">
                    <div class="progressive-image img-fluid img-thumbnail"
                        [ngClass]="{'selected-image': item.selected}">
                        <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}"
                            [attr.data-image]="item.image800 | linkHttp">
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="printArr && printArr.length >= perPage">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 u-mt-large text-center">
                    <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
                    <button class="btn btn-secondary" *ngIf="showLoading"><span
                            class="fa fa-spinner fa-pulse"></span>&nbsp;
                        Loading...</button>
                </div>
            </div>
            <div class="card myCardNotif" *ngIf="showContentPrintErr">
                <div class="text-center padding">
                    <img src="./assets/img/error.png" />
                    <p class="apperror">{{printContentErr.message}}</p>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!showContentPrint">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-xs-3 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
                <app-skeleton-item height="220px"></app-skeleton-item>
            </div>
        </div>
    </div>
</div>
<context-menu>
    <ng-template contextMenuItem (execute)="castContextMenuEvent(item.key,item)" *ngFor="let item of contextMenu">
        {{item.text}}
    </ng-template>
</context-menu>