<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body">
    <div class="share-preloader" *ngIf="showLoading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="dropzone dropzone-container" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isUploading"><i class="fa fa-spinner fa-pulse"
            *ngIf="isUploading"></i> Upload</button>
    <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isUploading">Close</button>
</div>