/* ==========================================================================
   #MEDIA OBJECT
   ========================================================================== */
   .o-media {
    display: block;
  }
  
  .o-media::after {
    display: table !important;
    clear: both !important;
    content: "" !important;
  }
  
  /**
   * 1. Spacing between the image and the text should be declared through
   *    the component, usually using a `spacing` utility class. 
   */
  .o-media__img {
    /* [1] */
    float: left;
  }
  
  .o-media__img>img {
    display: block;
  }
  
  .o-media__body {
    display: block;
    overflow: hidden;
  }
  
  .o-media__body,
  .o-media__body> :last-child {
    margin-bottom: 0;
  }