<div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="action == 'reservation'">Map Reservation Systems</h4>
    <h4 class="modal-title pull-left" *ngIf="action == 'booking'">Preferred Booking Systems</h4>
</div>
<div class="modal-body">
    <div class="u-p-small">
        <div class="row" *ngIf="action == 'reservation'">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="bookingPlatform">Booking Platform</label>
                    <select class="form-control" id="bookingPlatform" name="bookingPlatform" [(ngModel)]="profile.platform" [disabled]="isLoading">
                        <option *ngFor="let item of platformsArr" value="{{item.applicationNickname}}">{{item.applicationName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="platformID">Platform ID</label>
                    <input type="text" class="form-control" id="platformID" name="platformID" placeholder="Platform ID" [(ngModel)]="profile.platformId" [disabled]="isLoading">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="action == 'booking'">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="bookingPlatform">Booking Platform</label>
                    <select class="form-control" id="bookingPlatform" name="bookingPlatform" [(ngModel)]="profile.platform" [disabled]="isLoading">
                        <option *ngFor="let item of platformsArr" value="{{item.applicationNickname}}">{{item.applicationName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="saveChanges()" [disabled]="isLoading || isSaving"><i class="fa fa-spinner fa-pulse"
          *ngIf="isSaving"></i> Save Changes</button>
    <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isLoading || isSaving">Close</button>
</div>