<header class="c-navbar u-mb-medium">
    <img class="c-sidebar__brand-img" src="./assets/img/logo_red.png" alt="Logo">
    <h2 class="c-navbar__title u-mr-auto">Narnoo Admin Dashboard App</h2>
    <div class="c-dropdown">
        <a class="c-notification" (click)="openHome()">
            <span class="c-notification__icon">
                <i class="fa fa-users"></i>
            </span>
            Accounts
        </a>
    </div>
    <div class="c-dropdown">
        <a class="c-notification" (click)="logOutApp()">
            <span class="c-notification__icon">
                <i class="fa fa-sign-out"></i>
            </span>
            Logout
        </a>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <ul class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                <li><a class="c-tabs__link" [ngClass]="{'active':isStepOne}">Enter Business Name</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active':isStepTwo}">Business Type</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active':isStepThree}">Business Details</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active':isStepFour}">Business Postal</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active':isStepFive}">Business Physical</a></li>
            </ul>
            <div class="c-tabs__content tab-content u-mb-large" id="nav-tabContent">
                <div class="c-tabs__pane u-pb-medium" *ngIf="isStepOne">
                    <h1>Business Name</h1>
                    <p class="u-mb-small">Please enter the name of the business which you would like to create on
                        Narnoo.com. We will first check to make sure that this business doesn’t already exist in the
                        system. If if does exist you will be able to request access to this business account.</p>
                    <p class="u-mb-small">Once you have registered your business it will need to be validated by
                        Narnoo.com. This is to ensure quality controls on the content we deliver.</p>
                    <div id="business-name-con" role="form">
                        <div class="form-group c-field">
                            <label class="c-field__label" for="email"></label>
                            <input class="c-input" placeholder="Business Name" id="business_name" required=""
                                [(ngModel)]="business.name" type="text" (input)="validateBusinessName()" (keydown)="onKeydown($event)">
                            <i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>
                        </div>
                    </div>
                    <div class="u-p-small u-mb-small u-border" *ngIf="needAccess">
                        <!-- <div class="form-group c-field">
                            <small class="u-color-danger">
                                Business Name already existed! Do you want to request access on the owner?
                            </small>
                        </div> -->
                        <div class="c-alert c-alert--warning alert fade show">
                            <i class="c-alert__icon fa fa-exclamation-circle"></i> Business Name already existed! Do
                            you want to request access on the owner?
                            <!-- <button class="c-close" data-dismiss="alert" type="button">&times;</button> -->
                        </div>
                        <div class="c-table-responsive@tablet">
                            <table class="c-table c-table--zebra u-mb-large" id="datatable2">
                                <thead class="c-table__head">
                                    <tr class="c-table__row">
                                        <th class="c-table__cell c-table__cell--head">Business</th>
                                        <th class="c-table__cell c-table__cell--head">Contact</th>
                                        <th class="c-table__cell c-table__cell--head">Email</th>
                                        <th class="c-table__cell c-table__cell--head">
                                            <span class="u-hidden-visually">Actions</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="c-table__row" *ngFor="let item of usersArr">
                                        <td class="c-table__cell">{{item.name}}</td>
                                        <td class="c-table__cell">{{item.contact}}</td>
                                        <td class="c-table__cell">{{item.email}}</td>
                                        <td class="c-table__cell u-text-right">
                                            <button class="c-btn c-btn--secondar" (click)="requestAccess(item)">
                                                <i class="fa fa-spinner fa-pulse" *ngIf="item.isRequesting"></i>
                                                Request
                                                Access
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isStepTwo">
                    <div class="container step-2-con">
                        <div class="col-md-12 text-center">
                            <h1>Which type is this business?</h1>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 text-center step-2-options side-right-border">
                                <h3>Operator</h3>
                                <p>If your business is a tourism product or supplier, then you are
                                    identified as an Operator within Narnoo.com. You can select your business category
                                    and
                                    move on from here.</p>
                                <ng-select [clearable]="true" [items]="operatorCat" bindLabel="text" bindValue="id"
                                    (change)="selectedValue($event)" [hidden]="!showOperator" placeholder="Select Operator Type">
                                </ng-select>
                                <button class="c-btn c-btn--info" (click)="showOperatorSelect()" *ngIf="!showOperator">
                                    Select </button>
                            </div>
                            <div class="col-md-6 text-center step-2-options">
                                <h3>Distributor</h3>
                                <p>If you are a tourism agent, or business that promotes, sells or
                                    markets tourism operators, then you are identified as an Distributor within
                                    Narnoo.com.</p>
                                <ng-select [clearable]="true" [items]="distributorCat" bindLabel="text" bindValue="id"
                                    (change)="selectedValue($event)" [hidden]="!showDistributor" placeholder="Select Distributor Type"></ng-select>
                                <button class="c-btn c-btn--info" (click)="showDistributorSelect()" *ngIf="!showDistributor">
                                    Select </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isStepThree">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Business Details</h1>
                        </div>
                        <div class="col-md-6">
                            <div id="business-subcategory-con" role="form" *ngIf="showSubcats">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="select1">Business Subcategory
                                        *:</label>
                                    <ng-select [clearable]="true" [items]="subCategoryArr" bindLabel="title" bindValue="id"
                                        [(ngModel)]="business.subCategory" placeholder="Select Business Subcategory">
                                    </ng-select>
                                </div>
                            </div>
                            <div id="business-subcategory-con" role="form" *ngIf="showSubcats">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="select1">Booking Platform
                                        *:</label>
                                    <ng-select [clearable]="true" [items]="platformsArr" bindLabel="text" bindValue="id"
                                        [(ngModel)]="business.bookingPlatform" placeholder="Select Booking Platform">
                                    </ng-select>
                                </div>
                            </div>
                            <div id="business-contact-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="email">Business Contact *:</label>
                                    <input class="c-input" formcontrolname="business_contact" id="business_contact"
                                        [(ngModel)]="business.businessContact" (change)="valildateBusDetails($event)"
                                        required="" type="text" placeholder="John Doe">
                                </div>
                            </div>
                            <div id="business-url-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="email">Business URL *:</label>
                                    <input class="c-input" formcontrolname="business_url" id="business_url" [(ngModel)]="business.url"
                                        (change)="valildateBusDetails($event)" required="" type="url" placeholder="https://www.example.com">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="business-email-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="email">Business Email *:</label>
                                    <input class="c-input" formcontrolname="business_email" id="business_email"
                                        [(ngModel)]="business.email" (change)="valildateBusDetails($event)" required=""
                                        type="email" placeholder="info@example.com">
                                </div>
                            </div>
                            <div id="business-phone-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="phone">Business Phone *:</label>
                                    <input class="c-input" formcontrolname="business_phone" id="business_phone"
                                        [(ngModel)]="business.phone" (change)="valildateBusDetails($event)" required=""
                                        type="text" placeholder="+61740392812">
                                </div>
                            </div>
                            <div id="business-keywords-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="keywords">Business Keywords *:</label>
                                    <input class="c-input" formcontrolname="business_physical_keywords" id="business_physical_keywords"
                                        [(ngModel)]="business.keywords" (change)="valildateBusDetails($event)" required=""
                                        type="text" placeholder="keyword1, keyword2, keyword3">
                                    <small class="c-field__message" style="color: rgb(154, 159, 168);">
                                        <i class="fa fa-info-circle"></i> Separate
                                        keywords with a comma.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isStepFour">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Business Postal</h1>
                        </div>
                        <div class="col-md-6">
                            <div id="business-postal-number-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="postal-number">Business Postal Number *:</label>
                                    <input class="c-input" formcontrolname="business_postal_number" id="business_postal_number"
                                        [(ngModel)]="business.postalNumber" (change)="valildatePostDetails($event)"
                                        required="" type="text" placeholder="1">
                                </div>
                            </div>
                            <div id="business-postal-street-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="postal-street">Business Postal Street *:</label>
                                    <input class="c-input" formcontrolname="business_postal_street" id="business_postal_street"
                                        [(ngModel)]="business.postalStreet" (change)="valildatePostDetails($event)"
                                        required="" type="text" placeholder="Acne Street">
                                </div>
                            </div>
                            <div id="business-postal-suburb-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="postal-suburb">Business Postal Suburb *:</label>
                                    <input class="c-input" formcontrolname="business_postal_suburb" id="business_postal_suburb"
                                        [(ngModel)]="business.postalSuburb" (change)="valildatePostDetails($event)"
                                        required="" type="text" placeholder="Cairns">
                                </div>
                            </div>
                            <div id="business-postal-state-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="postal-state">Business Postal State *:</label>
                                    <input class="c-input" formcontrolname="business_postal_state" id="business_postal_state"
                                        [(ngModel)]="business.postalState" (change)="valildatePostDetails($event)"
                                        required="" type="text" placeholder="QLD">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="business-postal-code-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="postal-code">Business Postal Code *:</label>
                                    <input class="c-input" formcontrolname="business_postal_code" id="business_postal_code"
                                        [(ngModel)]="business.postalPostcode" (change)="valildatePostDetails($event)"
                                        required="" type="text" placeholder="4870">
                                </div>
                            </div>
                            <div id="business-postal-country-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="postal-country">Business Postal Country *:</label>
                                    <!-- <input class="c-input" formcontrolname="business_postal_country" id="business_postal_country" [(ngModel)]="business.postalCountry" (change)="valildatePostDetails($event)" required="" type="text" placeholder="Australia"> -->
                                    <ng-select [clearable]="true" [(ngModel)]="business.postalCountry" [items]="countriesArr"
                                        bindLabel="title" bindValue="title" placeholder="Select Country">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="isSameAddress" (change)="toggleAddress($event)">
                                <label class="form-check-label">Is business physical address the same as the postal
                                    address?</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isStepFive">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Business Physical</h1>
                        </div>
                        <div class="col-md-6">
                            <div data-toggle="validator" id="business-physical-number-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="physical-number">Business
                                        physical number *:</label>
                                    <input class="c-input" formcontrolname="business_physical_number" id="business_physical_number"
                                        [(ngModel)]="business.physicalNumber" (change)="valildatePhyDetails($event)"
                                        required="" type="text" placeholder="1">
                                </div>
                            </div>
                            <div data-toggle="validator" id="business-physical-street-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="physical-street">Business
                                        physical Street *:</label>
                                    <input class="c-input" formcontrolname="business_physical_street" id="business_physical_street"
                                        [(ngModel)]="business.physicalStreet" (change)="valildatePhyDetails($event)"
                                        required="" type="text" placeholder="Acne Street">
                                </div>
                            </div>
                            <div data-toggle="validator" id="business-physical-suburb-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="physical-suburb">Business
                                        physical Suburb *:</label>
                                    <input class="c-input" formcontrolname="business_physical_suburb" id="business_physical_suburb"
                                        [(ngModel)]="business.physicalSuburb" (change)="valildatePhyDetails($event)"
                                        required="" type="text" placeholder="Cairns">
                                </div>
                            </div>
                            <div data-toggle="validator" id="business-physical-state-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="physical-state">Business
                                        physical State *:</label>
                                    <input class="c-input" formcontrolname="business_physical_state" id="business_physical_state"
                                        [(ngModel)]="business.physicalState" (change)="valildatePhyDetails($event)"
                                        required="" type="text" placeholder="QLD">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div data-toggle="validator" id="business-physical-postcode-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="physical-postcode">Business
                                        physical Post Code *:</label>
                                    <input class="c-input" formcontrolname="business_physical_postcode" id="business_physical_postcode"
                                        [(ngModel)]="business.physicalPostcode" (change)="valildatePhyDetails($event)"
                                        required="" type="text" placeholder="4870">
                                </div>
                            </div>
                            <div data-toggle="validator" id="business-physical-country-con" role="form">
                                <div class="form-group c-field">
                                    <label class="c-field__label" for="physical-country">Business
                                        physical Country *:</label>
                                    <!-- <input class="c-input" formcontrolname="business_physical_country" id="business_physical_country"
                                        [(ngModel)]="business.physicalCountry" (change)="valildatePhyDetails($event)"
                                        required="" type="text" placeholder="Australia"> -->
                                    <ng-select [clearable]="true" [(ngModel)]="business.physicalCountry" [items]="countriesArr"
                                        bindLabel="title" bindValue="title" placeholder="Select Country">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-toolbar u-mb-small">
        <div class="c-range c-range--inline u-mr-auto"></div>
        <button class="c-btn c-btn--secondary u-ml-small" (click)="previous()">
            Previous
        </button>
        <button class="c-btn c-btn--info u-ml-small" (click)="next()" [disabled]="!stepCondition" *ngIf="!isStepFive">
            Next
        </button>
        <button class="c-btn c-btn--success u-ml-small" (click)="createBusiness()" [disabled]="!stepCondition" *ngIf="isStepFive">
            Submit Account
        </button>
    </div>
</div>