<app-sidebar></app-sidebar>
<!-- // .o-page__sidebar -->
<main class="o-page__content" [ngClass]="{'is-minimized':isMinimized, 'is-pushed':!isMinimized}">
  <app-headers></app-headers>
  <!-- <nvs-ngx-breadcrumbs></nvs-ngx-breadcrumbs> -->
  <router-outlet></router-outlet>
</main><!-- // .o-page__content -->