app-skeleton-item {
    display: block;
}

app-skeleton-item[inline] {
    display: inline-block;
}

app-skeleton-item[inline] div {
    display: inline-block;
}

app-skeleton-item[rounded] div {
    border-radius: 999em;
}

app-skeleton-item[radius] div {
    border-radius: 4px;
}

app-skeleton-item[no-animated] div {
    animation: none !important;
    background: rgba(130, 130, 130, 0.2);
}

app-skeleton-item+app-skeleton-item {
    margin-top: 6px;
}

.animated-background,
app-skeleton-item div {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgba(130, 130, 130, 0.2);
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    position: relative;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}