/* ==========================================================================
   #PROFILE
   ========================================================================== */
.c-profile-card {
  margin: 0 0 0.9375rem;
  padding: 0.625rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-profile-card__cover {
  height: 100px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}

.c-profile-card__cover>img {
  display: block;
}

/**
 * Profile card main content.
 */
.c-profile-card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -20px;
}

.c-profile-card__avatar {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  margin: 0 0.9375rem 0 0;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
}

.c-profile-card__avatar>img {
  display: block;
}

.c-profile-card__name {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0.9375rem 0 0;
  font-size: 1rem;
  line-height: 1.25;
  /* 20px / 16px */
}

.c-profile-card__username {
  display: block;
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-profile-card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-profile-card__stats:last-child {
  margin-right: 0;
}

/**
 * Profile Card stats/numbers like: followers, following..
 */
.c-profile-card__state {
  margin-right: 30px;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.375;
  text-transform: uppercase;
}

.c-profile-card__state:last-child {
  margin-right: 0;
}

.c-profile-card__state-number {
  display: block;
  margin: 0;
  color: #354052;
  font-size: 1.25rem;
  font-weight: 600;
}

.c-profile-card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0.625rem 12px;
  border-bottom: 1px solid #e6eaee;
}

/**
 * Use brand color utilities to set the background-color of every icon.
 *
 * Example: 
 * 		<a class="c-profile__social-icon u-bg-dribbble" href="#">
 *     		<i class="fa fa-dribbble"></i>
 * 		</a>
 */
.c-profile-card__social-icon {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  color: #fff;
  line-height: 38px;
  text-align: center;
}

.c-profile-card__social-icon:hover {
  color: #fff;
}

/**
 * A list of meta of information about the profile.
 */
.c-profile-card__meta {
  padding: 0.9375rem 0.625rem 0;
}

.c-profile-card__meta:last-child {
  margin-bottom: 0;
}

.c-profile-card__meta-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0.625rem;
  color: #354052;
  font-size: 0.875rem;
}

.c-profile-card__meta-item>i {
  margin-right: 0.75rem;
  color: #7f8fa4;
  font-size: 1rem;
}

/* ==========================================================================
   #EVENT
   ========================================================================== */
.c-event {
  margin-bottom: 1.875rem;
  padding: 0.625rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background: #fff;
}

.c-event__img {
  position: relative;
  margin-bottom: 0.9375rem;
  border-radius: 3px;
  overflow: hidden;
}

.c-event__img>img {
  display: block;
}

.c-event__status {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  padding: 5px 12px;
  border-radius: 4px;
  background: rgba(49, 53, 63, 0.25);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

/** 
 * Meta information about the event
 */
.c-event__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 10px 0 20px;
}

.c-event__title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.c-event__place {
  display: block;
  margin: 0;
  color: #7f8fa4;
  font-size: 0.75rem;
}

/**
 * Align event button with the event title
 */
.c-event__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ==========================================================================
   #PROJECT
   ========================================================================== */
/**
 * Used in projects-board.html page.
 */
.c-project {
  margin-bottom: 1.875rem;
  padding: 0.625rem 0.625rem 20px;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background: #fff;
}

.c-project:hover .c-project__profile:nth-child(n) {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.c-project__img {
  position: relative;
  margin-bottom: 0.75rem;
  border-radius: 4px;
  overflow: hidden;
}

.c-project__img>img {
  display: block;
}

.c-project__title {
  margin: 0;
  padding-left: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
}

.c-project__status {
  display: block;
  margin: 0;
  color: #7f8fa4;
  font-size: 0.75rem;
}

.c-project__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  padding-left: 0.625rem;
}

/**
 * On hover, expand project profiles.
 * Maximum number of profiles is 4, more profiles should be hidden.
 *
 * 1. Hover animation will only work on large viewports.
 */
.c-project__profile {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 0.3125rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-align: center;
}

.c-project__profile:nth-child(2) {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.c-project__profile:nth-child(3) {
  -webkit-transform: translateX(calc(-20px * 2));
  transform: translateX(calc(-20px * 2));
}

.c-project__profile:nth-child(4) {
  -webkit-transform: translateX(calc(-20px * 3));
  transform: translateX(calc(-20px * 3));
}

.c-project__profile:nth-child(5) {
  -webkit-transform: translateX(calc(-20px * 4));
  transform: translateX(calc(-20px * 4));
}

@media (max-width: 1200px) {
  .c-project__profile:nth-child(n) {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* [1] */
  }
}

.c-project__profile img {
  border-radius: 100%;
}

.c-project__profile--btn {
  border-radius: 100%;
  background-color: #e6eaee;
  color: #7f8fa4;
  font-size: 0.875rem;
  line-height: 32px;
}

.c-project__profile--btn:hover {
  background-color: #1bb934;
  color: #fff;
}

/* ==========================================================================
   #POST
   ========================================================================== */
/**
 * Used in: news-feed.html
 */
.c-post {
  width: 100%;
  min-width: 100%;
  margin: 0 0 0.9375rem;
  border-radius: 4px;
}

.c-post__content {
  width: 100%;
  min-width: 100%;
  min-height: 120px;
  padding: 0.625rem 1.875rem 0.625rem 20px;
  border: 1px solid #e6eaee;
  background-color: #fff;
  color: #354052;
  font-size: 0.875rem;
  overflow-y: auto;
  resize: none;
}

.c-post__toolbar {
  padding: 12px;
  border: 1px solid #e6eaee;
  border-top: 0;
  background-color: #fafbfc;
  overflow: hidden;
}

/**
 * Customize submit button
 */
.c-post__submit {
  margin-right: 12px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.c-post__time {
  position: relative;
  padding: 0 0 0 12px;
  /**
	 * Vertical divier to seperate (submit button) from (post time).
	 */
}

.c-post__time::before {
  display: inline-block;
  position: absolute;
  top: -24px;
  left: 0;
  width: 1px;
  height: 70px;
  background-color: #e6eaee;
  content: "";
}

.c-post__time i {
  margin-right: 5px;
}

@media (max-width: 576px) {
  .c-post__time {
    display: none;
  }
}

/* ==========================================================================
   #STREAM
   ========================================================================== */
/**
 * Used in news-feed.html page
 */
.c-stream {
  margin: 0 0 1.875rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-stream-item {
  padding: 0.9375rem 20px 0.9375rem 12px;
  border-bottom: 1px solid #e6eaee;
}

/**
 * Stream item header
 */
.c-stream-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.3125rem;
}

.c-stream-item__name {
  color: #354052;
  font-weight: 400;
}

.c-stream-item__username {
  margin: 0 0 0 0.3125rem;
  color: #7f8fa4;
  font-size: 0.875rem;
  font-weight: 400;
  /**
	 * 1. Remove text-decoration from username when the link is hovered.
	 */
}

.c-stream-item__name:hover .c-stream-item__username {
  /* [1] */
  display: inline-block;
  text-decoration: none;
}

.c-stream-item__time {
  color: #7f8fa4;
  font-size: 0.875rem;
}

/**
 * Stream item gallery
 */
.c-stream-item__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}

.c-stream-item__gallery>img {
  width: 49%;
  border-radius: 4px;
}

/**
 * A list of icons to perform certain actions like: (love, comment, reply).
 */
.c-stream-item__actionlist {
  display: inline-block;
}

.c-stream-item__action {
  display: inline-block;
  margin: 0 1.875rem 0 0;
  color: #7f8fa4;
  vertical-align: middle;
}

.c-stream-item__action:hover {
  text-decoration: none;
}

.c-stream-item__action>i {
  margin-right: 0.3125rem;
  font-size: 0.875rem;
}

.c-strem-item__actiontoggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: -0.1875rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7f8fa4;
}

/* ==========================================================================
   #GALLERY CARD
   ========================================================================== */
.c-gallery-card {
  margin: 0 0 1.875rem;
  padding: 10px;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background: #fff;
}

.c-gallery-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 0.9375rem;
}

.c-gallery-card__title {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}

.c-gallery-card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/**
 * 1. Set width of gallery image to be half of its container minus (5px) as 
 *    a spacing between images.
 */
.c-gallery-card__img {
  width: calc(50% - 5px);
  /* [1] */
  margin: 0 0 0.625rem;
  border-radius: 4px;
}

/* ==========================================================================
   #STATE
   ========================================================================== */
.c-state {
  position: relative;
  margin-bottom: 1.875rem;
  padding: 0.9375rem;
  border-radius: 4px;
}

.c-state__title {
  margin: 0.625rem 0 0 0.9375rem;
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.c-state__number {
  display: block;
  margin: 0 0 20px 0.9375rem;
  color: #fff;
  font-size: 2.25rem;
  font-weight: 400;
}

.c-state__status {
  margin: 0;
  padding: 0.625rem 0 0 0.9375rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

/**
 * 1. Equals padding of `.c-state`.
 */
.c-state__indicator {
  display: inline-block;
  position: absolute;
  top: 0.9375rem;
  /* [1] */
  right: 0.9375rem;
  /* [1] */
  color: #fff;
  font-size: 38px;
  opacity: 0.2;
}

.c-state__indicator>i {
  display: block;
}

/* Style variants
   ========================================================================== */
/**
 * 1. If `c-state--{color}` isn't specified, (info) background color will 
 *    be applied.
 */
.c-state,
.c-state--info {
  /* [1] */
  background-color: #3B517C;
}

.c-state--success {
  background-color: #66B92E;
}

.c-state--warning {
  background-color: #DA932C;
}

.c-state--danger {
  background-color: #D65B4A;
}

/* ==========================================================================
   #TODO
   ========================================================================== */
/**
 * 1. Get rid of white space cause by using `inline-flex`.
 * 
 * Read More: https://goo.gl/ajXW52
 */
.c-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.25rem 1.875rem;
  border-top: 1px solid #e6eaee;
  font-size: 0;
  /* [1] */
  font-weight: 400;
  /**
	 * Disabled state
	 *
	 * NOTE: `disabled` attribute must be added to <input>
	 */
}

.c-todo.is-disabled .c-todo__label {
  color: rgba(53, 64, 82, 0.5);
  cursor: default;
}

.c-todo.is-disabled .c-todo__label::before {
  border-color: #dfe3e9;
  background-color: #e6eaee;
  text-decoration: none;
}

/**
 * 1. Hide default input and create a customized input.
 * 2. Align the customized input with label.
 */
.c-todo__input {
  /* [1] */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.c-todo__input+.c-todo__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1.5625rem;
  color: #354052;
  font-size: 0.875rem;
  cursor: pointer;
}

.c-todo.is-completed .c-todo__input+.c-todo__label {
  text-decoration: line-through;
  opacity: .5;
}

.c-todo__input+.c-todo__label::before {
  display: inline-block;
  position: absolute;
  top: 2px;
  /* [2] */
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0 15px 0 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #b7c0cd;
  border-radius: 100%;
  background-color: #fff;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  content: "";
  visibility: visible;
  /* [2] */
}

.c-todo__input:checked+.c-todo__label::before {
  border-color: #b7c0cd;
  background-color: #b7c0cd;
  color: #fff;
  content: "\f00c";
}

/* Todo Stream
   ========================================================================== */
/**
 * Todo task displayed as a stream. Used in active-projects.html page.
 */
.c-todo-stream {
  display: block;
  position: relative;
}

.c-todo-stream::before {
  position: absolute;
  top: 7.5%;
  left: 7px;
  width: 2px;
  height: 85%;
  background-color: #b7c0cd;
  content: "";
  opacity: 0.2;
}

.c-todo-stream .c-todo {
  margin-bottom: 15px;
  padding: 0;
  border-top: 0;
}

/* ==========================================================================
   #MESSANGER
   ========================================================================== */
/**
 * Components used to build messanger page.
 *
 * Table of content:
 *
 * 1. Messages
 * 2. Chat 
 */
/* 1. Messages
   ========================================================================== */
/**
 * A container for the messanger app.
 */
.c-messanger {
  background-color: #fff;
}

/**
 * A container for inbox messages.
 */
.c-messages {
  height: calc(100vh - (69px + 70px));
  border-right: 1px solid #e6eaee;
  overflow-y: auto;
}

.c-messages::-webkit-scrollbar {
  /* [2] */
  width: 6px;
  background-color: transparent;
}

.c-messages::-webkit-scrollbar-thumb {
  /* [2] */
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-message {
  display: block;
  position: relative;
  padding: 15px 20px 15px 30px;
  border-bottom: 1px solid #e6eaee;
  color: #354052;
}

.c-message:hover {
  text-decoration: none;
}

.c-message.is-active {
  border-left: 3px solid #53b2f9;
}

.c-message__title {
  margin: 0;
  color: #354052;
  font-size: 16px;
}

.c-message__title-meta {
  display: block;
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-message__time {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #7f8fa4;
  font-size: 14px;
}

/**
 * Make room for messages counter
 */
.c-message__snippet {
  margin: 10px 40px 0 0;
  /* [1] */
}

.c-message__counter {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 25px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #53b2f9;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* 2. Chat
   ========================================================================== */
/**
 * A container for chat.
 */
.c-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  overflow-y: auto;
  height: calc(100vh - (69px + 70px));
}

.c-chat__body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
}

.c-chat__body::-webkit-scrollbar {
  /* [2] */
  width: 6px;
  background-color: transparent;
}

.c-chat__body::-webkit-scrollbar-thumb {
  /* [2] */
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-chat__post {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
}

.c-chat__message {
  padding: 20px 80px 20px 30px;
}

.c-chat__message-author {
  display: inline-block;
  margin-bottom: 10px;
  color: #354052;
  font-size: 1rem;
  font-weight: 500;
}

.c-chat__message-time {
  margin-left: 8px;
  color: #7f8fa4;
  font-size: 14px;
}

.c-chat__message-content {
  margin: 0;
  color: #354052;
}

/**
 * Chat Divider
 */
.c-chat__divider {
  display: block;
  position: relative;
  color: #7f8fa4;
  font-size: 0.875rem;
  text-align: center;
}

.c-chat__divider::before,
.c-chat__divider::after {
  position: absolute;
  top: 50%;
  width: 42%;
  height: 1px;
  background-color: #e6eaee;
  content: "";
}

.c-chat__divider::before {
  left: 0;
}

.c-chat__divider::after {
  right: 0;
}

.c-chat__divider.is-active {
  color: #1A91EB;
}

.c-chat__divider.is-active::before,
.c-chat__divider.is-active::after {
  background-color: #1A91EB;
}

/**
  * Chat Message Composer
  *
  * a form to compose a new message.
  */
.c-chat__composer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(100% - 60px);
  height: 60px;
  margin: 0 auto 20px;
  padding: 0;
  background-color: #fff;
}

.c-chat__composer .c-field__addon {
  padding: 5px 25px;
}

/* ==========================================================================
   #CREDIT CARD
   ========================================================================== */
/**
 * Used in account-settings.html page
 */
.c-credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 196px;
}

.c-credit-card__card {
  position: absolute;
  width: 50%;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  padding: 1.5625rem 1.875rem;
  border: 2px solid #2ea1f8;
  border-radius: 8px;
  background-color: #fff;
}

.c-credit-card__logo {
  margin-bottom: 0.9375rem;
}

.c-credit-card__number {
  margin-bottom: 0.3125rem;
  color: #354052;
  font-size: 1.25rem;
  font-weight: 600;
}

.c-credit-card__status {
  margin: 0;
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-credit-card__user {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  max-height: 195px;
  padding: 30px 0;
  padding-left: calc(50% + 60px);
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-credit-card__user-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.c-credit-card__user-meta {
  margin: 0 0 5px;
  font-size: 0.875rem;
}

/* ==========================================================================
   #SEARCH RESULT
   ========================================================================== */
.c-search-result {
  position: relative;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-search-result__avatar {
  margin-right: 1.25rem;
}

.c-search-result__title {
  margin-bottom: 0;
  font-size: 1rem;
}

.c-search-result__meta {
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-search-result__actionlist {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.c-search-result__action {
  display: inline-block;
  margin-left: 0.625rem;
  float: left;
}

.c-search-result__action>a {
  color: #b7c0cd;
}

.c-search-result__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.c-search-result__gallery-item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  border-radius: 4px;
  overflow: hidden;
}

.c-search-result__gallery-item>a {
  display: block;
  line-height: 0;
}

/* ==========================================================================
   #SEARCH FORM
   ========================================================================== */
/**
 * Used in browse.html page.
 */
.c-search-form {
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  border-radius: 4px;
  background-color: #fff;
}

.c-search-form__label {
  margin-bottom: 0.625rem;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.c-search-form__section {
  margin-bottom: 0.9375rem;
}

/* ==========================================================================
   #GRAPH CARD
   ========================================================================== */
.c-graph-card {
  margin: 0 0 1.875rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.c-graph-card__content {
  padding: 1.875rem 1.875rem 0;
}

.c-graph-card__title {
  margin: 0;
  font-size: 1.125rem;
}

.c-graph-card__date {
  margin: 0 0 0.625rem;
  color: #7f8fa4;
  font-size: 0.75rem;
}

.c-graph-card__number {
  margin: 0;
  color: #354052;
  font-size: 2.5rem;
  font-weight: 300;
}

.c-graph-card__status {
  margin: 0;
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-graph-card__chart {
  position: relative;
  margin: 0;
  padding: 1.875rem;
}

.c-graph-card__footer {
  height: 100%;
  padding: 0.9375rem 1.875rem;
  border-top: #e6eaee solid 1px;
  background-color: #fafbfc;
}

/* ==========================================================================
   #DIVIDER
   ========================================================================== */
.c-divider {
  display: block;
  position: relative;
  height: 1px;
  background-color: #dfe3e9;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  /**
	 * When divider has a text in its center.
	 */
}

.c-divider.has-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.c-divider.has-text::before,
.c-divider.has-text::after {
  width: 42%;
  height: 1px;
  background-color: #dfe3e9;
  content: "";
}

@media (max-width: 768px) {

  .c-divider::before,
  .c-divider::after {
    width: 30%;
  }
}

.c-divider--small {
  font-size: 0.875rem;
  text-transform: none;
}

.c-divider--small.has-text::before,
.c-divider--small.has-text::after {
  width: 25%;
  height: 1px;
  background-color: #dfe3e9;
}

/* ==========================================================================
   #PROGRESS CARD
   ========================================================================== */
.c-progress-card {
  margin: 0 0 1.875rem;
  padding: 1.875rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-progress-card__title {
  margin: 0;
  font-size: 1.125rem;
}

.c-progress-card__date {
  margin: 0 0 1.875rem;
  color: #7f8fa4;
  font-size: 0.75rem;
}

.c-progress-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 0.9375rem;
}

.c-progress-card__item:last-child {
  margin-bottom: 0;
}

.c-progress-card__label {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-progress-card__progress {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  margin: 0;
}

.c-progress-card__legends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-progress-card__legend {
  display: inline-block;
  width: 10px;
  height: 2px;
  margin: 0 0.625rem 0 0;
  vertical-align: middle;
}

/* ==========================================================================
   #PANEL
   ========================================================================== */
/**
 * Panels acts like a secondry sidebar, usually placed on the opposite side of
 * sidebar, in the case of Dashboad's design it's placed in the right.
 *
 * 1. Remove top border from panel to avoid collapsing with navbar's border.
 */
.c-panel {
  height: 100%;
  margin: 0;
  padding: 1.875rem;
  border: 1px solid #e6eaee;
  border-top: 0;
  /* [1] */
  background-color: #fff;
}

.c-panel__title {
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-panel__widget::after {
  display: block;
  height: 1px;
  margin: 1.875rem 0;
  background-color: #e6eaee;
  content: " ";
  opacity: 0.5;
}

.c-panel__widget:last-child::after {
  content: none;
}

/* ==========================================================================
   #STATE CARD
   ========================================================================== */
.c-state-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1.875rem;
  padding: 1.875rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-state-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 1.25rem;
  border-radius: 100%;
  background-color: #b7c0cd;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  /**
	 * Icon's inside border
	 */
}

.c-state-card__icon::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 52px;
  height: 52px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 100%;
  content: "";
  opacity: 0.2;
}

/**
 * Icon style variations
 */
.c-state-card__icon--info {
  background: #2ea1f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
  background: linear-gradient(to bottom, #2ea1f8, #1990ea);
}

.c-state-card__icon--fancy {
  background: #886ce6;
  background: -webkit-gradient(linear, left top, left bottom, from(#886ce6), to(#7d5be2));
  background: linear-gradient(to bottom, #886ce6, #7d5be2);
}

.c-state-card__icon--warning {
  background: #fd9a18;
  background: -webkit-gradient(linear, left top, left bottom, from(#fd9a18), to(#f16911));
  background: linear-gradient(to bottom, #fd9a18, #f16911);
}

.c-state-card__icon--success {
  background: #39b54a;
  background: -webkit-gradient(linear, left top, left bottom, from(#39b54a), to(#34aa44));
  background: linear-gradient(to bottom, #39b54a, #34aa44);
}

.c-state-card__number {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.c-state-card__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15px;
  right: -20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #bbc5d5;
  color: #fff;
  font-size: 0.625rem;
  text-align: center;
}

.c-state-card__meta {
  margin: 0;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* ==========================================================================
   #SUMMARY
   ========================================================================== */
/**
 * Used in invoices.html page
 */
.c-summary {
  position: relative;
  padding: 0 0 1.875rem 1.875rem;
}

.c-summary.has-divider::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  content: "";
  background: #e6eaee;
  background: -webkit-gradient(linear, left bottom, left top, from(#e6eaee), to(#fff));
  background: linear-gradient(to top, #e6eaee, #fff);
}

@media (max-width: 768px) {
  .c-summary.has-divider::after {
    top: initial;
    bottom: 15px;
    width: 100%;
    height: 1px;
  }
}

.c-summary__title {
  margin-bottom: 0.9375rem;
  color: #7f8fa4;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.c-summary__number {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 1.875rem;
  font-weight: 400;
}

.c-summary__status {
  display: block;
  position: absolute;
  top: 0.9375rem;
  right: -1.25rem;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #bbc5d5;
  color: #fff;
  font-size: 0.625rem;
  line-height: 14px;
  text-align: center;
}

.c-summary__meta {
  margin: 0;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* ==========================================================================
   #CHART
   ========================================================================== */
/**
 * This works as a wrapper for charts.
 */
.c-chart-container {
  position: relative;
  height: 95px;
}

.c-chart__title {
  margin: 0;
  color: #7f8fa4;
  font-size: 0.75rem;
}

/* ==========================================================================
   #PROJECT CARD
   ========================================================================== */
/**
 * used in `home-overview.html`
 */
.c-project-card {
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.c-project-card__img {
  display: block;
}

.c-project-card__head {
  padding: 1.25rem 1.875rem;
  border-bottom: 1px solid #e6eaee;
}

.c-project-card__title {
  margin: 0;
  font-size: 1rem;
}

.c-project-card__info {
  margin: 0;
  color: #7f8fa4;
  font-size: 0.75rem;
}

.c-project-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.25rem 1.875rem;
}

/* ==========================================================================
   #MENU
   ========================================================================== */
/**
 * A list of horizontal or vertical links, and unlike `c-menu` component, this 
 * component shouldn't be used inside a sidebar or any other component.
 */
.c-menu__title {
  margin: 0 0 0.625rem 20px;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.c-menu__link {
  display: inline-block;
  width: 100%;
  padding: 5px 0 5px 20px;
  border-radius: 4px;
  color: #354052;
  font-size: 0.875rem;
  font-weight: 400;
}

.c-menu__link:hover {
  text-decoration: none;
}

.c-menu__link.is-active {
  background-color: #2ea1f8;
  color: #fff;
}

.c-menu__icon {
  margin-right: 0.625rem;
  color: #7f8fa4;
}

.c-menu__link:hover .c-menu__icon {
  color: #2ea1f8;
}

/* ==========================================================================
   #BOARDS
   ========================================================================== */
/**
 * Boards consist of 2 main components:
 *
 * 1. Board 
 * 2. Task
 *
 * NOTE: We didn't seperate these components into their own files as it's 
 * intended to be used togther.
 */
/* 1. Board
   ========================================================================== */
.c-board {
  position: relative;
  margin-bottom: 3.125rem;
}

.c-board__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.c-board__title {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
}

.c-board__actions {
  display: block;
  position: relative;
}

.c-board__actions>a {
  color: #bbc5d5;
}

/**
 * A wrapper for board's tasks.
 */
.c-board__content {
  position: relative;
  padding: 10px;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fafbfc;
  overflow-y: auto;
}

.c-board__btn {
  display: block;
  position: absolute;
  bottom: -16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  color: #fff;
  font-size: 0.875rem;
  line-height: 32px;
  text-align: center;
  z-index: 200;
  background: #2ea1f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
  background: linear-gradient(to bottom, #2ea1f8, #1990ea);
}

.c-board__btn:hover {
  color: #fff;
}

/**
 * Add a board button
 */
.c-add-board {
  display: block;
  width: 100%;
  margin-top: 2.125rem;
  margin-bottom: 1.875rem;
  padding: 0.9375rem 1.25rem;
  border-radius: 4px;
  background-color: #b7c0cd;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  opacity: .8;
}

.c-add-board>i {
  margin-right: 0.625rem;
}

.c-add-board:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

/**
 * Board style variations
 *
 * Add a border with a specific color to indicate the status of the board.
 */
.c-board--info .c-board__content,
.c-board--success .c-board__content,
.c-board--warning .c-board__content,
.c-board--danger .c-board__content {
  border-top: 3px solid #2ea1f8;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.c-board--info .c-board__content {
  border-top-color: #2ea1f8;
}

.c-board--success .c-board__content {
  border-top-color: #1bb934;
}

.c-board--warning .c-board__content {
  border-top-color: #fd9a18;
}

.c-board--danger .c-board__content {
  border-top-color: #ed1c24;
}

/* 2. Task
   ========================================================================== */
.c-task {
  margin-bottom: 0.625rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  overflow: hidden;
}

.c-task:last-of-type {
  margin-bottom: 0;
}

.c-task__img {
  display: block;
}

.c-task__content {
  margin: 0;
  padding: 0.9375rem 0.625rem 0.625rem;
  color: #354052;
  font-size: 0.875rem;
  font-weight: 600;
}

.c-task__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0.625rem 0.625rem;
}

.c-task__indicator {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.9375rem;
  color: #7f8fa4;
  font-size: 0.75rem;
  font-weight: 600;
}

.c-task__indicator>i {
  display: inline-block;
  margin-right: 0.3125rem;
  color: #bbc5d5;
  font-size: 1rem;
}

/**
 * Task style variations
 *
 * Add a border with a specific color to indicate the status of the task.
 */
.c-task--info,
.c-task--success,
.c-task--warning,
.c-task--danger {
  border-left: 3px solid #2ea1f8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.c-task--info {
  border-left-color: #2ea1f8;
}

.c-task--success {
  border-left-color: #1bb934;
}

.c-task--warning {
  border-left-color: #fd9a18;
}

.c-task--danger {
  border-left-color: #ed1c24;
}

/* ==========================================================================
   #PLANS 
   ========================================================================== */
.c-plan {
  margin: 0 5px 30px;
  padding: 40px 20px 25px;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: transparent;
  text-align: left;
}

.c-plan__img {
  position: absolute;
  top: -20px;
}

.c-plan__title {
  margin: 0;
  color: #7f8fa4;
  font-size: 12px;
  text-transform: uppercase;
}

.c-plan__price {
  margin: 0;
  font-size: 28px;
}

.c-plan__note {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.c-plan__divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #e6eaee;
}

.c-plan__feature {
  margin-bottom: 5px;
  color: #7f8fa4;
  font-size: 0.875rem;
}

/* ==========================================================================
   #FILEITEM
   ========================================================================== */
.c-fileitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.9375rem 0;
  border-bottom: 1px solid #e6eaee;
}

.c-fileitem:first-child {
  padding-top: 0;
}

.c-fileitem:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.c-fileitem__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-fileitem__img {
  max-width: 60px;
  margin-right: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.c-fileitem__img>img {
  display: block;
}

.c-fileitem__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #354052;
  font-weight: 600;
}

.c-fileitem__name>img {
  margin-right: 8px;
}

.c-fileitem__date {
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-fileitem__date i {
  margin: 0 5px;
}

/* ==========================================================================
   #OVERVIEW CARD
   ========================================================================== */
/**
 * Not really a reusable component, but it fixes responsive issues with 
 * `Dashboard Overview` section in index.html page.
 */
@media (max-width: 768px) {

  .c-overview-card .u-border-right,
  .c-overview-card .u-border-left {
    border: 0 !important;
  }
}

@media (max-width: 768px) {
  .c-overview-card__section {
    margin-bottom: 30px;
  }

  .c-overview-card__section h3 {
    font-size: 1.25rem;
  }
}

/* ==========================================================================
   #INVOICE
   ========================================================================== */
.c-invoice {
  position: relative;
  padding: 6.25rem 6.25rem 1.875rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
  color: #354052;
  -webkit-box-shadow: 0 0 10px 1px rgba(53, 64, 82, 0.1);
  box-shadow: 0 0 10px 1px rgba(53, 64, 82, 0.1);
}

@media (max-width: 768px) {
  .c-invoice {
    padding: 1.875rem;
  }
}

/**
 * Invoice Header
 *
 * Contains:
 * - compnay's name & logo 
 * - invoice's title & date
 */
.c-invoice__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}

@media (max-width: 768px) {
  .c-invoice__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

.c-invoice__brand {
  margin-bottom: 1.875rem;
}

@media (max-width: 768px) {
  .c-invoice__brand {
    margin: 0;
  }
}

.c-invoice__brand-img {
  max-width: 40px;
  margin-bottom: 0.9375rem;
}

.c-invoice__brand-name {
  font-size: 1.5rem;
}

.c-invoice__title {
  margin-top: 1.875rem;
}

.c-invoice__title h4 {
  margin: 0;
}

.c-invoice__date {
  color: #7f8fa4;
}

/**
 * Invoice Details
 *
 */
.c-invoice__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 6.25rem;
}

.c-invoice__company-name {
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
}

.c-invoice__company-address {
  margin-bottom: 0.9375rem;
  color: #7f8fa4;
}

/**
 * Invoice content
 */
.c-invoice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .c-invoice__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

.c-invoice__desc {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 250px;
  flex: 0 1 250px;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .c-invoice__desc {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin-bottom: 1.875rem;
  }
}

.c-invoice__number {
  color: #7f8fa4;
  font-size: 0.875rem;
}

.c-invoice__table {
  width: 100%;
}

.c-invoice__table .c-table {
  margin-bottom: 0.625rem;
}

@media (max-width: 768px) {
  .c-invoice__table .c-table {
    display: table;
    width: 100%;
  }
}

.c-invoice__terms {
  color: #7f8fa4;
  font-size: 0.875rem;
}

/**
 * Footer
 */
.c-invoice__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 6.25rem;
  padding-top: 1.875rem;
  border-top: 1px solid #e6eaee;
}

@media (max-width: 576px) {
  .c-invoice__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
  }
}

.c-invoice__footer-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 576px) {
  .c-invoice__footer-brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.c-invoice__footer-brand img {
  max-width: 30px;
  margin-right: 0.625rem;
}

@media (max-width: 576px) {
  .c-invoice__footer-brand img {
    margin-bottom: 0.625rem;
  }
}

/* ==========================================================================
   #FEED
   ========================================================================== */
/**
 * User Activity Feed
 * 
 * This component is used to show a stream of the user's activities and it's 
 * used in user-profile.html page.
 */
.c-feed {
  position: relative;
  margin-bottom: 1.875rem;
  padding-left: 32px;
  overflow: hidden;
}

.c-feed::before {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 1px;
  height: 100%;
  background-color: #e6eaee;
  content: "";
}

.c-feed.has-icons {
  padding-left: 47px;
}

.c-feed.has-icons::before {
  left: 14px;
}

.c-feed__item {
  position: relative;
  margin-bottom: 25px;
  /**
	 * The small circle (dot) before every item of the feed
	 */
}

.c-feed__item::before {
  position: absolute;
  top: 4px;
  left: -32px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #2ea1f8;
  content: "";
}

.c-feed__item:last-child {
  margin-bottom: 0;
}

.c-feed__item:last-child::after {
  position: absolute;
  top: 16px;
  left: -32px;
  width: 12px;
  height: 100%;
  border-radius: 0;
  background-color: #fff;
  content: "";
}

.c-feed__item.has-icon::before {
  display: none;
}

.c-feed__item.has-icon .c-feed__item-icon {
  display: block;
  position: absolute;
  top: 4px;
  left: -47px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #2ea1f8;
  color: #fff;
  font-size: 0.875rem;
  line-height: 30px;
  text-align: center;
}

.c-feed__item.has-icon:last-child::after {
  top: 34px;
  left: -47px;
  width: 30px;
}

.c-feed__comment {
  display: inline-block;
  margin: 0.625rem 0;
  padding: 0.625rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fafbfc;
}

.c-feed__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625rem;
}

.c-feed__gallery-item {
  width: 80px;
  height: 80px;
  margin: 0 0.625rem 0.625rem 0;
  border-radius: 4px;
  overflow: hidden;
}

.c-feed__meta {
  display: block;
  color: #7f8fa4;
  font-size: 0.875rem;
}

/* Style variants
   ========================================================================== */
.c-feed__item--fancy::before {
  background: #886ce6;
  background: -webkit-gradient(linear, left top, left bottom, from(#886ce6), to(#7d5be2));
  background: linear-gradient(to bottom, #886ce6, #7d5be2);
}

.c-feed__item--info::before {
  background: #2ea1f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
  background: linear-gradient(to bottom, #2ea1f8, #1990ea);
}

.c-feed__item--success::before {
  background: #39b54a;
  background: -webkit-gradient(linear, left top, left bottom, from(#39b54a), to(#34aa44));
  background: linear-gradient(to bottom, #39b54a, #34aa44);
}

/* ==========================================================================
   #RATING
   ========================================================================== */
/**
 * A list of starts aligned horizontally to show the current rating of an item.
 *
 * EXAMPLE:
 *
 * <div class="c-rating">
 *      <i class="c-rating__icon is-active fa fa-star"></i>
 *      <i class="c-rating__icon is-active fa fa-star"></i>
 *      <i class="c-rating__icon is-active fa fa-star"></i>
 *      <i class="c-rating__icon is-active fa fa-star"></i>
 *      <i class="c-rating__icon fa fa-star"></i>
 *  </div>
 */
.c-rating {
  display: block;
}

.c-rating__icon {
  color: #BBBFC5;
  font-size: 0.75rem;
}

.c-rating__icon.is-active {
  color: #FDBC0E;
}

/* ==========================================================================
   #MAP
   ========================================================================== */
/**
 * Map is powered by jqvmap plugin, these labels are added manually.
 */
.c-map__visual {
  margin-bottom: 1.875rem;
}

.c-map__labels--left {
  margin-right: 0.9375rem;
  margin-left: 3.125rem;
}

.c-map__labels--right {
  margin-right: 3.125rem;
  margin-left: 0.9375rem;
}

@media (max-width: 1200px) {
  .c-map__labels {
    margin-right: 0;
    margin-left: 0;
  }
}

.c-map__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.c-map__label:last-child {
  margin-bottom: 0;
}

.c-map__country,
.c-map__number {
  color: #354052;
}

/* ==========================================================================
   #CANDIDATE
   ========================================================================== */
/**
 * Used in candidates.html page
 */
.c-candidate {
  margin-bottom: 1.875rem;
  padding: 0.9375rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

/**
 * 1. Remove weird extra space.
 */
.c-candidate__cover {
  max-height: 150px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 0;
  /* [1] */
  overflow: hidden;
}

.c-candidate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -0.9375rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 0.9375rem;
  border-bottom: 1px solid #e6eaee;
}

.c-candidate__avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0.9375rem;
  margin-left: 0.625rem;
  border: 4px solid #fff;
  border-radius: 100%;
  overflow: hidden;
}

.c-candidate__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.c-candidate__title {
  margin: 0;
  font-size: 1rem;
}

.c-candidate__country {
  display: block;
  color: #7f8fa4;
}

.c-candidate__country i {
  margin-right: 0.625rem;
}

.c-candidate__actions {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 0.625rem;
}

.c-candidate__actions a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #7f8fa4;
  opacity: .5;
}

.c-candidate__actions a:last-child {
  margin-left: 0.3125rem;
}

.c-candidate__actions a:hover {
  opacity: 1;
}

.c-candidate__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-candidate__status {
  margin-right: 5%;
  font-size: 0.875rem;
}

/* ==========================================================================
   #STAGE
   ========================================================================== */
/**
 * Stage component is used to describe the project you are working on based on
 * multiple stages. This component is used in project-overview.html page.
 */
.c-stage {
  margin-bottom: 1.875rem;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  background-color: #fff;
}

.c-stage__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.9375rem 1.875rem;
  border-bottom: 1px solid #e6eaee;
  cursor: pointer;
}

.c-stage__header:hover {
  text-decoration: none;
}

.c-stage__header-img {
  max-width: 60px;
  margin-right: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.c-stage__icon {
  width: 30px;
  height: 30px;
  margin-right: 0.625rem;
  border: #e6eaee solid 1px;
  border-radius: 100%;
  color: #7f8fa4;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.c-stage__panel {
  border-bottom: 1px solid #e6eaee;
  /**
	 * Bootstrap classes used to show and hide sidebar submenu.
	 * This behaviour depends on collapse.js plugin.
	 */
}

.c-stage__panel.collapse {
  display: none;
}

.c-stage__panel.collapse.show {
  display: block;
}

.c-stage__panel.collapsing {
  position: relative;
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  overflow: hidden;
}

.c-stage__panel--mute {
  background-color: #fafbfc;
}

.c-stage__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.9375rem 1.875rem;
  background-color: #1bb934;
  color: #fff;
}

.c-stage__label-icon {
  margin-right: 0.625rem;
  font-size: 1.75rem;
}

.c-stage__label-title {
  color: #fff;
}

/* ==========================================================================
   #COUNTER NAV
   ========================================================================== */
/**
 * Counter nav is a different style of navigation, every navigation link has 
 * an icon (that contains current number) before it. 
 *
 * This component is used in project-overview.html page.
 */
.c-counter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-counter-nav__title {
  margin-right: 0.625rem;
  color: #7f8fa4;
}

.c-counter-nav__item {
  margin-right: 1.25rem;
}

.c-counter-nav__link {
  color: #7f8fa4;
  font-size: 14px;
}

.c-counter-nav__link:hover {
  text-decoration: none;
}

.c-counter-nav__link.is-active {
  color: #354052;
}

.c-counter-nav__counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  border: 1px solid #e6eaee;
  border-radius: 100%;
  background-color: #fafbfc;
  color: #7f8fa4;
  text-align: center;
}

.c-counter-nav__link.is-active .c-counter-nav__counter {
  background: #2EA1F8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EA1F8), to(#1990EA));
  background: linear-gradient(to bottom, #2EA1F8, #1990EA);
  border-color: #2EA1F8;
  color: #fff;
}

/**
 * Inverse 
 *
 * Use `.c-counter-nav--inverse` when using this component on a dark background.
 */
.c-counter-nav--inverse .c-counter-nav__counter {
  border-radius: 100%;
  border-color: #313C4D;
  background-color: #313C4D;
  color: #828A96;
  text-align: center;
}

.c-counter-nav__link.is-active .c-counter-nav--inverse .c-counter-nav__counter {
  color: #fff;
}

.c-counter-nav--inverse .c-counter-nav__link.is-active {
  color: #fff;
}

/* ==========================================================================
   #CHAT DIALOGUE
   ========================================================================== */
/**
 * A pop-up dialogue for different purposes like chat and customer support.
 * This component is used in chat-dialogue.html page.
 */
.c-chat-dialogue {
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem;
}

.c-chat-dialogue__btn {
  background: #2ea1f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
  background: linear-gradient(to bottom, #2ea1f8, #1990ea);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-color: #1a91eb;
  color: #fff;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 2px 7px 0 rgba(34, 44, 60, 0.4);
  box-shadow: 0 2px 7px 0 rgba(34, 44, 60, 0.4);
  cursor: pointer;
}

.c-chat-dialogue__btn .c-chat-dialogue__btn-close {
  display: none;
}

.c-chat-dialogue__btn.is-open .c-chat-dialogue__btn-open {
  display: none;
}

.c-chat-dialogue__btn.is-open .c-chat-dialogue__btn-close {
  display: block;
}

.c-chat-dialogue__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 1.875rem;
  border-bottom: 1px solid #e6eaee;
}

.c-chat-dialogue__team {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 35%;
}

.c-chat-dialogue__team .c-avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.c-chat-dialogue__team .c-avatar:nth-child(2) {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.c-chat-dialogue__team .c-avatar:nth-child(3) {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}

.c-chat-dialogue__body {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: 350px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.c-chat-dialogue__body.is-active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.c-chat-dialogue__messages {
  height: 400px;
  padding: 0 1.25rem;
  background-color: #fafbfc;
  overflow-y: auto;
}

.c-chat-dialogue__message {
  padding: 10px 20px;
}

.c-chat-dialogue__message-content {
  position: relative;
  max-width: 80%;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 0.875rem;
  background: #2ea1f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
  background: linear-gradient(to bottom, #2ea1f8, #1990ea);
  word-wrap: break-word;
}

.c-chat-dialogue__message-content::before {
  position: absolute;
  top: 30%;
  right: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: 6px solid transparent;
  border-right-color: #2ea1f8;
  content: " ";
}

.c-chat-dialogue__message--self {
  text-align: right;
}

.c-chat-dialogue__message--self .c-chat-dialogue__message-content {
  margin-left: auto;
  border: 1px solid #e6eaee;
  background: #fff;
  color: #354052;
}

.c-chat-dialogue__message--self .c-chat-dialogue__message-content::before {
  left: 100%;
  border: 6px solid transparent;
  border-left-color: #fff;
}

.c-chat-dialogue__footer {
  padding: 1.25rem;
  border-top: 1px solid #e6eaee;
  background-color: #fff;
}

/* ==========================================================================
   #LOGIN HORIZONTAL
   ========================================================================== */
.c-login-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.c-login-horizontal .c-login__content-wrapper,
.c-login-horizontal .c-login__content-image {
  width: 50%;
}

@media (max-width: 768px) {

  .c-login-horizontal .c-login__content-wrapper,
  .c-login-horizontal .c-login__content-image {
    width: 100%;
  }
}

.c-login-horizontal .c-login__header {
  position: relative;
  padding: 1.875rem 0 0;
  padding-left: 1.875rem;
  border: 0;
  background-color: transparent;
}

@media (max-width: 768px) {
  .c-login-horizontal .c-login__header {
    padding-top: 3.125rem;
  }
}

.c-login-horizontal .c-login__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -35px;
  right: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 100%;
  color: #fff;
  font-size: 1.25rem;
  background: #2ea1f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea1f8), to(#1990ea));
  background: linear-gradient(to bottom, #2ea1f8, #1990ea);
}

.c-login-horizontal .c-login__icon--left {
  right: initial;
  left: 30px;
}

.c-login-horizontal .c-login__icon--rounded {
  top: -25px;
  width: 45px;
  height: 45px;
  border-radius: 4px;
}

.c-login-horizontal .c-login__title {
  margin: 0;
  font-size: 24px;
  text-align: left;
}

.c-login-horizontal .c-login__content {
  padding: 0.9375rem 1.875rem 1.875rem 1.875rem;
}

.c-login-horizontal .c-login__content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1.875rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #49515D;
  color: #fff;
  overflow: hidden;
}

.c-login-horizontal .c-login__content-image img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
}

.c-login-horizontal .c-login__content-image h3,
.c-login-horizontal .c-login__content-image p {
  color: #fff;
}

.c-login-horizontal .c-login__content-image p {
  font-size: 1rem;
  opacity: .9;
}

@media (max-width: 768px) {
  .c-login-horizontal .c-login__content-image {
    display: none;
  }
}