<div class="modal-header">
  <h4 class="modal-title pull-left">Share</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="share-preloader" *ngIf="isLoading">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 u-mb-small">
      <div class="c-field u-mb-small">
        <label class="c-field__label" for="link"><i class="fa fa-link"></i> Link</label>
        <div class="c-field has-addon-right">
          <input class="c-input" id="link" name="link" type="text" [(ngModel)]="item.link" #link placeholder="Link"
            [disabled]="isLoading">
          <span class="c-field__addon" [ngxClipboard]="link" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
        </div>
      </div>
      <small class="c-field__message">
        <i class="fa fa-info-circle"></i>This link allows you to download the original version of this image. You can
        send the link to whom ever
        you need and this will allow them access to the original file.
      </small>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Close</button>
</div>