<article class="c-stage" id="stages" *ngIf="showContent">
  <a class="c-stage__header u-flex u-justify-between">
    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Booking Link</h6>
  </a>
  <div class="c-stage__panel c-stage__panel--mute">
    <div class="u-p-small u-mb-medium u-border">
      <small class="u-text-mute">
        Narnoo does not provide booking or payment options for products, what we can supply is the direct link to your
        product’s booking/reservation page. This is usually the link found in your “Book Now” button on your website.
      </small>
    </div>
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="link"><i class="fa fa-link"></i> Link</label>
        <div class="c-field has-addon-right">
          <input class="c-input" id="link" name="link" type="text" #link [(ngModel)]="product.directBooking"
            [disabled]="!showContent" placeholder="Link">
          <span class="c-field__addon" [ngxClipboard]="link"><i class="fa fa-copy"></i></span>
        </div>
      </div>
    </div>
    <div class="u-mt-small u-mb-small u-ml-small">
      <button class="c-btn c-btn--info" (click)="saveProductChanges()" [disabled]="isSaving"><i
          class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Update</button>
    </div>
  </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
  <app-skeleton-item height="375px"></app-skeleton-item>
</article>