<div class="modal-header">
    <h4 class="modal-title pull-left">Create Company Bio</h4>
</div>
<div class="modal-body">
    <article class="c-stage" id="stages">
        <a class="c-stage__header u-flex u-justify-between">
            <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio {{type}}</h6>
            <i class="fa fa-angle-down u-text-mute"></i>
        </a>
        <div class="c-stage__panel c-stage__panel--mute" id="stage-panel1">
            <div class="u-ml-small u-mr-small u-mt-small">
                <quill-editor [modules]="textEditorConfig" [style]="{height: '250px'}" [(ngModel)]="item.text"></quill-editor>
                <div class="u-mt-small">
                    <div class="form-group">
                        <label for="inputGroupSelect02">Language</label>
                        <select id="inputGroupSelect02" class="form-control" [(ngModel)]="item.language">
                            <option value="english">English</option>
                            <option value="chinese">Chinese</option>
                            <option value="japanese">Japanese</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="modal-footer">
    <button class="c-btn c-btn--info" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
            *ngIf="isSaving"></i> Save Changes</button>
    <button class="c-btn c-btn--secondary" (click)="bsModalRef.hide()">Close</button>
</div>