<div class="container-fluid">
  <div class="row u-mb-large">
    <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12 ">
      <div class="c-toolbar u-mb-medium">
        <div class="c-range c-range--inline u-mr-auto"></div>
        <button class="c-btn c-btn--info u-ml-small" [disabled]="!showContentProducts" (click)="createProduct()">
          <i class="fa fa-plus u-mr-xsmall u-opacity-medium"></i>New Product
        </button>
        <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
          <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
        </button>
      </div>
      <div class="card u-mb-medium">
        <div class="table-responsive u-p-medium u-mb-medium u-border u-border u-bg-white import-platform">
          <div class="c-field">
            <label class="u-text-bold">Platform:</label> <span class="c-field u-p-small">{{productInfo.platform}}</span>
          </div>
          <div class="c-field">
            <label class="u-text-bold">Description:</label> <span
              class="c-field u-p-small">{{productInfo.description}}</span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="c-table c-table--zebra u-mb-large" id="datatable2">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Image</th>
              <th class="c-table__cell c-table__cell--head" width="60%">Product</th>
              <th class="c-table__cell c-table__cell--head">Code</th>
              <th class="c-table__cell c-table__cell--head">
                <span class="u-hidden-visually">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="showContentProducts">
            <tr class="c-table__row" *ngFor="let item of productArr">
              <td class="c-table__cell">
                <div class="c-avatar c-avatar--small">
                  <img class="c-avatar__img" [src]="item.image?.thumbImage | linkHttp"
                    (error)="errorAvatarHandler($event)">
                </div>
              </td>
              <td class="c-table__cell">
                {{item.title}}
              </td>
              <td class="c-table__cell">
                <b>{{item.code}}</b>
              </td>
              <td class="c-table__cell u-text-right">
                <div class="c-dropdown dropdown u-ml-small" dropdown>
                  <button aria-expanded="false" aria-haspopup="true" dropdownToggle
                    class="c-btn c-btn--secondary has-dropdown">Actions</button>
                  <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                    <a class="c-dropdown__item dropdown-item" (click)="gotoDetails(item)">
                      <i class="fa fa-eye u-mr-xsmall"></i>View Product
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!showContentProducts">
            <tr class="c-table__row" *ngFor="let item of fakeArr">
              <td class="c-table__cell">
                <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
              </td>
              <td class="c-table__cell u-text-right">
                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <pagination *ngIf="showContentProducts && productArr.length >0" class="pull-right" [boundaryLinks]="true" [maxSize]="5"
                [itemsPerPage]="perPage" [totalItems]="totalPageProduct" [(ngModel)]="pageProduct" (pageChanged)="pageChanged($event)"
                previousText="<i class='fa fa-caret-left'></i> Previous" nextText="Next <i class='fa fa-caret-right'></i>"></pagination> -->
    </div>
  </div>
</div>