<div class="container-fluid">
    <div class="row u-mb-large">
        <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12 ">
            <div class="c-toolbar u-mb-medium">
                <a class="c-toolbar__icon has-divider" [ngClass]="{'active': isGrid}" (click)="isGrid = true"><i
                        class="fa fa-th-large"></i></a>
                <a class="c-toolbar__icon has-divider" [ngClass]="{'active': !isGrid}" (click)="isGrid = false"><i
                        class="fa fa-navicon"></i></a>
                <div class="c-range c-range--inline u-mr-auto"></div>
                <button class="c-btn c-btn--info u-ml-small" [disabled]="!showContentProducts"
                    (click)="createProduct()">
                    <i class="fa fa-plus u-mr-xsmall u-opacity-medium"></i>New Product
                </button>
                <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
                    <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
                </button>
            </div>
            <div class="table-responsive" *ngIf="!isGrid">
                <table class="c-table c-table--zebra u-mb-large" id="datatable2">
                    <thead class="c-table__head">
                        <tr class="c-table__row">
                            <th class="c-table__cell c-table__cell--head">Image</th>
                            <th class="c-table__cell c-table__cell--head">Product</th>
                            <th class="c-table__cell c-table__cell--head"></th>
                            <th class="c-table__cell c-table__cell--head">
                                <span class="u-hidden-visually">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="showContentProducts">
                        <tr class="c-table__row" *ngFor="let item of productArr">
                            <td class="c-table__cell">
                                <div class="c-avatar c-avatar--small">
                                    <img class="c-avatar__img" [src]="item.image?.thumbImage | linkHttp"
                                        (error)="errorAvatarHandler($event)">
                                </div>
                            </td>
                            <td class="c-table__cell">{{item.title}}</td>
                            <td class="c-table__cell">
                                <span class="c-badge c-badge--info u-mr-xsmall" *ngIf="item.primary">Primary</span>
                            </td>
                            <td class="c-table__cell u-text-right">
                                <div class="c-dropdown dropdown u-ml-small" dropdown>
                                    <button aria-expanded="false" aria-haspopup="true" dropdownToggle
                                        class="c-btn c-btn--secondary has-dropdown">Actions</button>
                                    <div aria-labelledby="dropdownMenuButton10" *dropdownMenu
                                        class="c-dropdown__menu dropdown-menu">
                                        <a class="c-dropdown__item dropdown-item" (click)="gotoDetails(item)">
                                            <i class="fa fa-eye u-mr-xsmall"></i>View Product
                                        </a>
                                        <a class="c-dropdown__item dropdown-item" (click)="deleteProduct(item)">
                                            <i class="fa fa-trash u-mr-xsmall"></i> Delete
                                        </a>
                                        <a class="c-dropdown__item dropdown-item" (click)="bookingLink(item)">
                                            <i class="fa fa-external-link u-mr-xsmall"></i>Booking Link
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!showContentProducts">
                        <tr class="c-table__row" *ngFor="let item of fakeArr">
                            <td class="c-table__cell">
                                <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
                            </td>
                            <td class="c-table__cell">
                                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                            </td>
                            <td class="c-table__cell">
                                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                            </td>
                            <td class="c-table__cell u-text-right">
                                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="isGrid">
                <div class="row" *ngIf="showContentProducts">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12" *ngFor="let item of productArr">
                        <article class="c-event">
                            <div class="c-event__img">
                                <img [src]="item.image?.image800 | linkHttp" (error)="errorAvatarHandler($event)">
                                <span class="c-event__status" *ngIf="item.primary">Primary</span>
                            </div>
                            <div class="c-event__meta">
                                <h3 class="c-event__title">{{item.title}}</h3>
                                <div class="c-dropdown dropdown u-ml-small" dropdown>
                                    <button dropdownToggle class="c-btn c-btn--secondary has-dropdown">Actions</button>
                                    <div *dropdownMenu class="c-dropdown__menu dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <a class="c-dropdown__item dropdown-item" (click)="gotoDetails(item)"><i
                                                class="fa fa-eye u-mr-xsmall"></i>
                                            View</a>
                                        <a class="c-dropdown__item dropdown-item" (click)="deleteProduct(item)"><i
                                                class="fa fa-trash u-mr-xsmall"></i>
                                            Delete</a>
                                        <a class="c-dropdown__item dropdown-item" (click)="bookingLink(item)">
                                            <i class="fa fa-external-link u-mr-xsmall"></i>Booking Link
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row" *ngIf="!showContentProducts">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12" *ngFor="let item of fakeArr">
                        <article class="c-event">
                            <div class="c-event__img">
                                <app-skeleton-item height="235px"></app-skeleton-item>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <pagination *ngIf="showContentProducts && productArr.length > 0" class="pull-right" [boundaryLinks]="true"
                [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalPageProduct" [(ngModel)]="pageProduct"
                (pageChanged)="pageChanged($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
                nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
        </div>
    </div>
</div>