.c-table__cell {
	padding: 10px 0 10px 30px;
}

.c-toolbar__icon {
    display: block;
    color: #CED0DA !important;
    font-size: 18px;
}
.c-toolbar__icon.active{
    color: #007bff !important;
}

.c-project__profile--btn-custom:hover {
    background: #2ea1f8;
    background: linear-gradient(180deg, #2ea1f8, #1990ea);
    color: #fff;
}

.c-landing-card__action {
    display: block;
    position: absolute;
    top: 5px;
    right: 16px;
}

.c-event__img img{
    width: 100%;
    height: 235px;
}