<div class="container-fluid">
    <div class="c-toolbar u-mb-medium">
        <div class="c-range c-range--inline u-mr-auto"></div>
        <button class="c-btn c-btn--info u-ml-small">
            <i class="fa fa-lock u-mr-xsmall u-opacity-medium"></i> Update Roles
        </button>
        <button class="c-btn c-btn--danger u-ml-small">
            <i class="fa fa-trash u-mr-xsmall u-opacity-medium"></i> Revoke
        </button>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xl-5">
            <div class="c-card u-p-medium u-mb-medium">

                <div class="u-text-center">
                    <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                        <img class="c-avatar__img" [src]="user.gravatar" alt="Adam's Face">
                    </div>

                    <h3 class="u-h5">{{user.firstName}} {{user.lastName}}</h3>
                    <p>{{user.role}}</p>
                    <span class="u-text-mute u-text-small">{{user.email}}</span>
                </div>

                <!-- <div class="u-flex u-mt-medium">
                    <a class="c-btn c-btn--info c-btn--fullwidth u-mr-xsmall">
                        <i class="fa fa-pencil u-mr-xsmall u-opacity-medium"></i> Edit Profile
                    </a>
                    <a class="c-btn c-btn--secondary c-btn--fullwidth">
                        <i class="fa fa-lock u-mr-xsmall u-opacity-medium"></i> Update Roles
                    </a>
                </div>
                <div class="u-flex u-mt-medium">
                    <a class="c-btn c-btn--danger c-btn--fullwidth">
                        <i class="fa fa-trash u-mr-xsmall u-opacity-medium"></i> Revoke
                    </a>
                </div> -->
            </div>
        </div>

    </div>

</div>