/* ==========================================================================
   #PAGE OBJECT
   ========================================================================== */
/**
 * Use `o-page` to strucutre your page layout into sidebar, main content.
 */
 .o-page {
    position: relative;
    height: 100%;
}

/**
   * Used with `o-page__card` for better alignment.
   */
.o-page--center {
    padding-top: 6.25rem;
}

/**
   * Page content is pushed to the right to provide space for the sidebar.
   *
   * 1. Must equal the width of the `o-sidebar`.
   */
.o-page__content {
    margin-left: 250px;
    /* [1] */
    overflow: hidden;
}

.o-page__content.is-pushed {
    margin-left: 250px;
}

.o-page__content.is-minimized {
    margin-left: 70px;
}

@media (max-width: 992px) {
    .o-page__content {
        margin-left: 0;
    }
}

/** 
   * Page Card
   *
   * A centered page card is used when you want the card to be centered and 
   * provide a little space at the top & bottom e.g. login, 404 pages.
   */
.o-page__card {
    width: 450px;
    margin: 0 auto 3.125rem;
}

@media (max-width: 768px) {
    .o-page__card {
        width: 65%;
    }
}

/** 
   * Horizontal Page Card
   *
   * Used with login-2 page.
   */
.o-page__card--horizontal {
    width: 800px;
    margin: 0 auto 3.125rem;
}

@media (max-width: 992px) {
    .o-page__card--horizontal {
        width: 95%;
    }
}