<article class="c-stage" id="stages" *ngIf="showContent">
    <a class="c-stage__header u-flex u-justify-between">
        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Mapping</h6>
    </a>
    <div class="c-stage__panel c-stage__panel--mute">
        <div class="row u-p-small">
            <div class="col-sm-6 col-md-6 u-mb-small u-mt-medium">
                <div class="c-field">
                    <label class="c-field__label" for="link"><i class="fa fa-link"></i> Booking Platform</label>
                    <div class="c-field">
                        <select class="form-control" id="bookingPlatform" name="bookingPlatform"
                            [(ngModel)]="product.platform">
                            <option *ngFor="let item of platformsArr" value="{{item.applicationNickname}}">
                                {{item.applicationName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 u-mb-small u-mt-medium">
                <div class="c-field">
                    <label class="c-field__label" for="platformID"><i class="fa fa-link"></i> Platform ID</label>
                    <div class="c-field">
                        <input class="c-input" id="platformID" name="platformID" type="text"
                            [(ngModel)]="product.platformId" placeholder="Platform ID">
                    </div>
                </div>
            </div>
        </div>
        <div class="u-mt-small u-mb-small u-ml-small">
            <button class="c-btn c-btn--info" (click)="saveProductChanges()" [disabled]="isSaving"><i
                    class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Update</button>
        </div>
    </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
    <app-skeleton-item height="260px"></app-skeleton-item>
</article>
<article class="c-stage" id="stages" *ngIf="showContent">
    <a class="c-stage__header u-flex u-justify-between">
        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Mapping</h6>
    </a>
    <div class="c-table-responsive@desktop">
        <table class="c-table">
            <tbody>
                <tr class="c-table__row" *ngFor="let item of productMapping">
                    <td class="c-table__cell">
                        <span class="u-text-mute">{{item.platform}}</span>
                    </td>
                    <td class="c-table__cell">
                        <span class="u-text-mute">{{item.id}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
    <app-skeleton-item height="175px"></app-skeleton-item>
</article>