<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-xl-6">
            <div class="c-card u-p-medium u-mb-medium">
                <div class="u-text-center">
                    <div class="c-avatar c-avatar--large u-mb-small u-inline-flex" *ngIf="showContent">
                        <img class="c-avatar__img" [src]="profile.gravatar" (error)="errorAvatarHandler($event)" *ngIf="showContent">
                        <app-skeleton-item height="90px" width="90px" rounded *ngIf="!showContent"></app-skeleton-item>
                    </div>
                    <div *ngIf="showContent">
                        <h3 class="u-h5">{{profile.name}} <small>({{profile.id}})</small></h3>
                        <p>{{profile.contact}}, {{profile.type | titlecase}}</p>
                        <span class="u-text-mute u-text-small">{{profile.postalAddress}}</span>
                    </div>
                    <div *ngIf="!showContent">
                        <h3 class="u-h5 u-ml-xlarge">
                            <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                        </h3>
                        <p style="margin-left: 12.25rem !important">
                            <app-skeleton-item height="16px" width="67%"></app-skeleton-item>
                        </p>
                        <span class="u-text-mute u-text-small u-ml-xlarge u-mr-xlarge">
                            <app-skeleton-item height="12px"></app-skeleton-item>
                        </span>
                    </div>
                </div>
                <div class="u-flex u-mt-medium" *ngIf="showContent">
                    <button class="c-btn c-btn--info u-mr-xsmall" (click)="updateProfile()">Edit Profile</button>
                    <button class="c-btn c-btn--info u-mr-xsmall" (click)="viewOperatorPlatforms()">Operator Platforms</button>
                    <div class="c-dropdown dropdown u-mr-xsmall" dropdown>
                        <button dropdownToggle class="c-btn c-btn--info has-dropdown">Edit Booking Platforms</button>
                        <div *dropdownMenu class="c-dropdown__menu dropdown-menu">
                            <a class="c-dropdown__item dropdown-item" (click)="editProfilePlatforms('reservation')">
                                Reservation Systems
                            </a>
                            <a class="c-dropdown__item dropdown-item" (click)="editProfilePlatforms('booking')">
                                Preferred Booking Systems</a>
                        </div>
                    </div>
                </div>
                <div class="u-pt-medium u-border-top u-text-center u-mt-medium" *ngIf="showContent">
                    <a class="u-text-mute u-text-small has-divider" href="{{profile.url}}">
                        <i class="fa fa-globe u-mr-xsmall"></i>{{profile.url}}
                    </a>
                    <a class="u-text-mute u-text-small u-ml-small" href="{{profile.url}}">
                        <i class="fa fa-envelope u-mr-xsmall"></i>{{profile.email}}
                    </a>
                </div>
                <div class="u-pt-medium u-border-top u-mt-medium" *ngIf="showContent">
                    <span class="c-badge c-badge--primary u-mr-xsmall" *ngFor="let item of profile.tags">{{item.display}}</span>
                </div>
                <div class="u-pt-medium u-border-top u-text-center u-mt-medium" *ngIf="!showContent">
                    <div class="row u-ml-large">
                        <div class="col-md-6">
                            <app-skeleton-item height="12px" width="87%"></app-skeleton-item>
                        </div>
                        <div class="col-md-6">
                            <app-skeleton-item height="12px" width="87%"></app-skeleton-item>
                        </div>
                    </div>
                </div>
                <table class="c-table u-text-center u-pv-small u-mt-medium u-border-right-zero u-border-left-zero">
                    <thead>
                        <tr *ngIf="showContent">
                            <th class="u-pt-small u-color-primary" *ngIf="profile.category">{{profile.category |
                                titlecase}}</th>
                            <th class="u-pt-small u-color-primary" *ngIf="profile.subCategory">{{profile.subCategory |
                                titlecase}}</th>
                            <th class="u-pt-small u-color-primary">{{followerCount}}</th>
                            <th class="u-pt-small u-color-primary">{{followingCount}}</th>
                        </tr>
                        <tr *ngIf="!showContent">
                            <th class="u-pt-small u-color-primary">
                                <app-skeleton-item height="12px"></app-skeleton-item>
                            </th>
                            <th class="u-pt-small u-color-primary">
                                <app-skeleton-item height="12px"></app-skeleton-item>
                            </th>
                            <th class="u-pt-small u-color-primary">
                                <app-skeleton-item height="12px"></app-skeleton-item>
                            </th>
                            <th class="u-pt-small u-color-primary">
                                <app-skeleton-item height="12px"></app-skeleton-item>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="showContent">
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase" *ngIf="profile.category">Category</td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase" *ngIf="profile.subCategory">Subcategory</td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Followers</td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Following</td>
                        </tr>
                        <tr *ngIf="!showContent">
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">
                                <app-skeleton-item height="16px"></app-skeleton-item>
                            </td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">
                                <app-skeleton-item height="16px"></app-skeleton-item>
                            </td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">
                                <app-skeleton-item height="16px"></app-skeleton-item>
                            </td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">
                                <app-skeleton-item height="16px"></app-skeleton-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card u-mt-medium">
                    <!-- <div #map id="map" [hidden]="!showContent"></div> -->
                    <div [hidden]="!showContent">
                        <app-map-view [latitude]="profile.latitude" [longitude]="profile.longitude" [title]="profile.name" [imageSrc]="profile.gravatar"></app-map-view>
                    </div>
                    <app-skeleton-item height="400px" *ngIf="!showContent" no-animated></app-skeleton-item>
                </div>
            </div>
        </div>
    </div>
</div>