.c-toolbar__icon {
    display: block;
    color: #CED0DA !important;
    font-size: 18px;
}

.c-toolbar__icon.active {
    color: #007bff !important;
}

.c-sidebar__brand-img {
    display: inline-block;
    height: 44px;
    /* [2] */
    margin-right: 0.625rem;
}