<div class="modal-header">
  <h4 class="modal-title pull-left">Operator Platforms</h4>
</div>
<div class="modal-body" [ngClass]="{'modal-height': showLoading}">
  <div class="share-preloader" *ngIf="showLoading">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <div class="c-table-responsive@desktop" *ngIf="!showLoading">
    <table class="c-table">
      <tbody>
        <tr class="c-table__row" *ngFor="let item of platformsArr">
          <td class="c-table__cell">
            <span class="u-text-mute">{{item.platform}}</span>
          </td>
          <td class="c-table__cell">
            <span class="u-text-mute">{{item.id}}</span>
          </td>
          <td class="c-table__cell">
            <span class="u-text-mute">{{item.type | uppercase}}</span>
          </td>
          <td class="c-table__cell">
            <span class="c-badge c-badge--small c-badge--warning" *ngIf="item.isLive == 1">Live</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Close</button>
</div>