<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="c-toolbar u-mb-large">
                <div class="c-dropdown dropdown u-ml-auto" dropdown>
                    <!-- <button dropdownToggle class="c-btn c-btn--info has-dropdown" [disabled]="!showContent"><i class="fa fa-pencil u-mr-xsmall u-opacity-medium"></i> Create</button>
                    <div *dropdownMenu class="c-dropdown__menu dropdown-menu">
                        <a class="c-dropdown__item dropdown-item" (click)="createBio('summary')"><i class="fa fa-image u-mr-xsmall"></i>
                                Summary</a>
                        <a class="c-dropdown__item dropdown-item" (click)="createBio('description')"><i class="fa fa-folder u-mr-xsmall"></i>
                                Description</a>
                    </div> -->
                </div>
                <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
                    <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
                </button>
            </div>
            <div *ngIf="showContent">
                <div *ngIf="!showContentErr">
                    <article class="c-stage" id="stages">
                        <a class="c-stage__header u-flex u-justify-between" (click)="isSummary = !isSummary">
                            <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio Summary</h6>
                            <i class="fa fa-angle-down u-text-mute"></i>
                        </a>
                        <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel1" [collapse]="!isSummary">
                            <div class="u-p-small">
                                <tabset>
                                    <tab [heading]="item.language | uppercase" *ngFor="let item of summaryArr">
                                        <div class="padding text-wrap">
                                            <span [innerHtml]="item.text"></span>
                                        </div>
                                        <div class="u-mt-small">
                                            <button class="c-btn c-btn--info" (click)="updateBio(item,'summary')">Update</button>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                        <a class="c-stage__header u-flex u-justify-between" (click)="isDescription = !isDescription">
                            <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio Description</h6>
                            <i class="fa fa-angle-down u-text-mute"></i>
                        </a>
                        <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel2" [collapse]="!isDescription">
                            <div class="u-p-small">
                                <tabset>
                                    <tab [heading]="item.language | uppercase" *ngFor="let item of descriptionArr">
                                        <div class="padding text-wrap">
                                            <span [innerHtml]="item.text"></span>
                                        </div>
                                        <div class="u-mt-small">
                                            <button class="c-btn c-btn--info" (click)="updateBio(item,'description')">Update</button>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </article>
                </div>
                <div *ngIf="showContentErr">
                    <div class="card myCardNotif u-mb-medium" *ngIf="contentErr.message !== 'No biography results'">
                        <div class="text-center padding">
                            <img src="../assets/img/error.png" />
                            <p class="apperror u-pt-medium">{{contentErr.message}}</p>
                        </div>
                    </div>
                    <div *ngIf="contentErr.message == 'No biography results'">
                        <article class="c-stage" id="stages">
                            <a class="c-stage__header u-flex u-justify-between" (click)="isSummary = !isSummary">
                            <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio Summary</h6>
                            <i class="fa fa-angle-down u-text-mute"></i>
                        </a>
                            <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel1" [collapse]="!isSummary">
                                <div class="u-p-small">
                                    <tabset>
                                        <tab [heading]="item.language | uppercase" *ngFor="let item of summaryArr">
                                            <div class="padding text-wrap">
                                                <span [innerHtml]="item.text"></span>
                                            </div>
                                            <div class="u-mt-small">
                                                <button class="c-btn c-btn--info" (click)="updateBio(item,'summary')">Update</button>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                            <a class="c-stage__header u-flex u-justify-between" (click)="isDescription = !isDescription">
                            <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio Description</h6>
                            <i class="fa fa-angle-down u-text-mute"></i>
                        </a>
                            <div class="c-stage__panel c-stage__panel--mute collapse" id="stage-panel2" [collapse]="!isDescription">
                                <div class="u-p-small">
                                    <tabset>
                                        <tab [heading]="item.language | uppercase" *ngFor="let item of descriptionArr">
                                            <div class="padding text-wrap">
                                                <span [innerHtml]="item.text"></span>
                                            </div>
                                            <div class="u-mt-small">
                                                <button class="c-btn c-btn--info" (click)="updateBio(item,'description')">Update</button>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div *ngIf="!showContent">
                <article class="c-stage" id="stages">
                    <a class="c-stage__header u-flex u-justify-between">
                        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio Summary</h6>
                        <i class="fa fa-angle-down u-text-mute"></i>
                    </a>
                    <div class="c-stage__panel c-stage__panel--mute">
                        <div class="u-p-small">
                            <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                            <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                            <app-skeleton-item class="u-mt-small" height="24px" width="87%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                            <app-skeleton-item class="u-mt-medium" height="39px" width="103px" inline></app-skeleton-item>
                        </div>
                    </div>
                    <a class="c-stage__header u-flex u-justify-between">
                        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Company Bio Description</h6>
                        <i class="fa fa-angle-down u-text-mute"></i>
                    </a>
                    <div class="c-stage__panel c-stage__panel--mute">
                        <div class="u-p-small">
                            <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                            <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                            <app-skeleton-item class="u-mt-small" height="24px" width="87%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                            <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                            <app-skeleton-item class="u-mt-medium" height="39px" width="103px" inline></app-skeleton-item>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>