/* ==========================================================================
   #BOOTSTRAP UTILITIES
   ========================================================================== */
/**
 * These classes are used by bootstrap plugins.
 */
 .fade {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
  }
  
  .fade.show {
    opacity: 1;
  }