/* ==========================================================================
   #FLEX UTILITIES
   ========================================================================== */
.u-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.u-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.u-justify-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.u-justify-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.u-justify-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.u-justify-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.u-justify-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.u-align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.u-align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.u-align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.u-align-items-baseline {
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.u-align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.u-align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.u-align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}

.u-align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.u-align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}

.u-align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}

.u-flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.u-flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}