/* ==========================================================================
   #CLEARFIX UTILITIY
   ========================================================================== */
/**
 * Clear floated elements by adding `u-clearfix` to the parent element. 
 */
 .u-clearfix::after {
    display: table !important;
    clear: both !important;
    content: "" !important;
  }