/* ==========================================================================
   #COLORS UTILITIES
   ========================================================================== */
/**
 * Set the text color of elements.
 */
.u-color-success {
    color: #1bb934 !important;
}

.u-color-info {
    color: #2ea1f8 !important;
}

.u-color-danger {
    color: #ed1c24 !important;
}

.u-color-warning {
    color: #fd9a18 !important;
}

.u-color-primary {
    color: #354052 !important;
}

.u-color-secondary {
    color: #fff !important;
}

.u-color-white {
    color: #fff !important;
}

/**
    * Set the background color of elements.
    */
.u-bg-success {
    background: #1bb934 !important;
    background-color: #1bb934 !important;
}

.u-bg-info {
    background: #1a91eb !important;
    background-color: #1a91eb !important;
}

.u-bg-danger {
    background: #ed1c24 !important;
    background-color: #ed1c24 !important;
}

.u-bg-fancy {
    background: #a388e3 !important;
    background-color: #a388e3 !important;
}

.u-bg-warning {
    background: #fd9a18 !important;
    background-color: #fd9a18 !important;
}

.u-bg-primary {
    background: #475364 !important;
    background-color: #475364 !important;
}

.u-bg-secondary {
    background: #fafbfc !important;
    background-color: #fafbfc !important;
}

.u-bg-white {
    background: #fff !important;
    background-color: #fff !important;
}

/**
    * Use brand-color utilities to apply text colors and background colors to 
    * brand-related components like social icons.
    */
/**
   * Brand text colors
   */
.u-color-facebook {
    color: #2492E4 !important;
}

.u-color-twitter {
    color: #0AF !important;
}

.u-color-pinterest {
    color: #E30F27 !important;
}

.u-color-behance {
    color: #187AC6 !important;
}

.u-color-dribbble {
    color: #ea4c89 !important;
}

.u-color-linkedin {
    color: #222 !important;
}

/**
   * Brand background colors
   *
   * 1. If a component has border, we change its border-color to match with
   *    the brand background-color.
   */
.u-bg-facebook {
    border-color: #2492E4 !important;
    /* [1] */
    background: #2492E4 !important;
}

.u-bg-twitter {
    border-color: #0AF !important;
    background: #0AF !important;
}

.u-bg-pinterest {
    border-color: #E30F27 !important;
    background: #E30F27 !important;
}

.u-bg-behance {
    border-color: #187AC6 !important;
    background: #187AC6 !important;
}

.u-bg-dribbble {
    border-color: #ea4c89 !important;
    background: #ea4c89 !important;
}

.u-bg-linkedin {
    border-color: #222;
    background-color: #222 !important;
}