/* ==========================================================================
   #TYPOGRAPHY UTILITIES
   ========================================================================== */
/**
 * Headings
 *
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 *
 */
 .u-h1 {
    font-size: 2.25rem;
  }
  
  .u-h2 {
    font-size: 1.75rem;
  }
  
  .u-h3 {
    font-size: 1.5rem;
  }
  
  .u-h4 {
    font-size: 1.25rem;
  }
  
  .u-h5 {
    font-size: 1.125rem;
  }
  
  .u-h6 {
    font-size: 1rem;
  }
  
  /**
   * Text Utilitites
   */
  /**
   * Text Colors
   */
  .u-text-mute {
    color: #7f8fa4 !important;
  }
  
  .u-text-danger {
    color: #ed1c24 !important;
  }
  
  .u-text-success {
    color: #45B854 !important;
  }
  
  .u-text-dark {
    color: #354052;
  }
  
  .u-text-white {
    color: #fff;
  }
  
  /**
    * Text Sizes
    */
  .u-text-tiny {
    font-size: 0.625rem !important;
  }
  
  .u-text-xsmall {
    font-size: 0.75rem !important;
  }
  
  .u-text-small {
    font-size: 0.875rem !important;
  }
  
  .u-text-large {
    font-size: 1rem !important;
  }
  
  .u-text-big {
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 48px;
  }
  
  /**
    * Font Weights
    */
  .u-text-bold {
    font-weight: 600 !important;
  }
  
  /**
    * Aligning Text
    */
  .u-text-right {
    text-align: right !important;
  }
  
  .u-text-left {
    text-align: left !important;
  }
  
  .u-text-center {
    text-align: center !important;
  }
  
  /**
   * Transforming Text
   */
  .u-text-uppercase {
    text-transform: uppercase !important;
  }
  
  .u-text-lowercase {
    text-transform: lowercase !important;
  }
  
  .u-text-capitalize {
    text-transform: capitalize !important;
  }