<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <article class="c-stage" id="stages">
                <a class="c-stage__header u-flex u-justify-between" aria-expanded="false" aria-controls="stage-panel2">
                    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Social Media Links</h6>
                </a>
                <div class="c-stage__panel c-stage__panel--mute show open" id="stage-panel1">
                    <div class="c-toolbar u-mb-medium">
                        <button class="c-btn c-btn--info u-ml-auto" [disabled]="showLoading" (click)="editSocialLinks()">
                            <i class="fa fa-pencil u-mr-xsmall u-opacity-medium"></i>Update
                        </button>
                        <button class="c-btn c-btn--secondary u-ml-small" (click)="initData()">
                            <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
                        </button>
                    </div>
                    <div class="u-p-medium" *ngIf="!showContentErr">
                        <div class="row" *ngIf="!showLoading">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="tripadvisor"><i class="fa fa-tripadvisor"></i>
                                        Trip Advisor</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="tripadvisor" name="tripadvisor" type="text" disabled
                                            [(ngModel)]="link.tripadvisor" #tripadvisor placeholder="Trip Advisor">
                                        <span class="c-field__addon" [ngxClipboard]="tripadvisor"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="facebook"><i class="fa fa-facebook"></i>
                                        Facebook</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="facebook" name="facebook" type="text" disabled
                                            [(ngModel)]="link.facebook" #facebook placeholder="Facebook">
                                        <span class="c-field__addon" [ngxClipboard]="facebook"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="twitter"><i class="fa fa-twitter"></i> Twitter</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="twitter" name="twitter" type="text" disabled
                                            [(ngModel)]="link.twitter" #twitter placeholder="Twitter">
                                        <span class="c-field__addon" [ngxClipboard]="twitter"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="instagram"><i class="fa fa-instagram"></i>
                                        Instagram</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="instagram" name="instagram" type="text" disabled
                                            [(ngModel)]="link.instagram" #instagram placeholder="Instagram">
                                        <span class="c-field__addon" [ngxClipboard]="instagram"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="youtube"><i class="fa fa-youtube"></i> Youtube</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="youtube" name="youtube" type="text" disabled
                                            [(ngModel)]="link.youtube" #youtube placeholder="Youtube">
                                        <span class="c-field__addon" [ngxClipboard]="youtube"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="vimeo"><i class="fa fa-vimeo"></i> Vimeo</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="vimeo" name="vimeo" type="text" disabled [(ngModel)]="link.vimeo"
                                            #vimeo placeholder="Vimeo">
                                        <span class="c-field__addon" [ngxClipboard]="vimeo"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <div class="c-field">
                                    <label class="c-field__label" for="pinterest"><i class="fa fa-pinterest"></i>
                                        Pinterest</label>
                                    <div class="c-field has-addon-right">
                                        <input class="c-input" id="pinterest" name="pinterest" type="text" disabled
                                            [(ngModel)]="link.pinterest" #pinterest placeholder="Pinterest">
                                        <span class="c-field__addon" [ngxClipboard]="pinterest"><i class="fa fa-copy"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="showLoading">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 u-mb-small">
                                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
                            </div>
                        </div>
                    </div>
                    <div class="card myCardNotif u-mb-medium" *ngIf="showContentErr">
                        <div class="text-center padding">
                            <img src="./assets/imgs/error.png" />
                            <p class="apperror u-pt-medium">{{contentErr.message}}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>