<div class="modal-header">
  <h4 class="modal-title pull-left">Direct Booking Link</h4>
</div>
<div class="modal-body">
  <div class="u-p-small u-mb-medium u-border">
    <small class="u-text-mute">
      Narnoo does not provide booking or payment options for products, what we can supply is the direct link to your
      product’s booking/reservation page. This is usually the link found in your “Book Now” button on your website.
    </small>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="link"><i class="fa fa-link"></i> Link</label>
        <div class="c-field has-addon-right">
            <input class="c-input" id="link" name="link" type="text" #link [(ngModel)]="product.directBooking" [disabled]="!showContent" placeholder="Link">
            <span class="c-field__addon" [ngxClipboard]="link"><i class="fa fa-copy"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving || !showContent"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i> Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving || !showContent">Close</button>
</div>