<div class="modal-header">
  <h4 class="modal-title pull-left">Update Company Bio</h4>
</div>
<div class="modal-body">
  <article class="c-stage" id="stages">
    <a class="c-stage__header u-flex u-justify-between">
      <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">{{item.language | uppercase}}</h6>
    </a>
    <div class="c-stage__panel c-stage__panel--mute" id="stage-panel1">
      <quill-editor [modules]="textEditorConfig" [style]="{height: '250px'}" [(ngModel)]="item.text"></quill-editor>
    </div>
  </article>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Save</button>
  <button class="c-btn c-btn--secondary" (click)="bsModalRef.hide()">Close</button>
</div>