<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body data-picker">
  <div *ngIf="!showLoading">
    <!-- 
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <div *ngIf="action == 'image' || action == 'feature_image' || action == 'gallery'">
      <div class="row u-p-small" *ngIf="!showContentImageErr">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of imagesArr" (click)="selectMedia(item)">
          <div class="c-event__img">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                [attr.data-image]="item.largeImage | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="fa fa-check ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentImageErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{imageContentErr.message}}</p>
        </div>
      </div>
    </div>
    <!-- 
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <div *ngIf="action == 'logo' || action == 'feature_logo'">
      <div class="row u-p-small" *ngIf="!showContentLogoErr">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of logosArr" (click)="selectMedia(item)">
          <div class="c-event__img">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                [attr.data-image]="item.largeImage | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="fa fa-check ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentLogoErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{logoContentErr.message}}</p>
        </div>
      </div>
    </div>
    <!-- 
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <div *ngIf="action == 'print' || action == 'feature_print'">
      <div class="row u-p-small" *ngIf="!showContentPrintErr">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of printArr" (click)="selectMedia(item)">
          <div class="c-event__img">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}"
                [attr.data-image]="item.image800 | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="fa fa-check ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentPrintErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{printContentErr.message}}</p>
        </div>
      </div>
    </div>
    <!-- 
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
    <div *ngIf="action == 'video' || action == 'feature_video'">
      <div class="row u-p-small" *ngIf="!showContentVideosErr">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of videosArr" (click)="selectMedia(item)">
          <div class="c-event__img">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}"
                [attr.data-image]="item.image800 | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="fa fa-check ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentVideosErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{videosContentErr.message}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showLoading">
    <div class="row u-p-small">
      <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of imagesLoadingArr">
        <div class="c-event__img">
          <app-skeleton-item height="167px"></app-skeleton-item>
        </div>
      </div>
    </div>
  </div>
  <!-- 
    ==========================================================================================
    ==========================================================================================
    ==========================================================================================
     -->
  <div class="row" *ngIf="action == 'image' || action == 'feature_image' || action == 'gallery'">
    <div class="col-lg-12">
      <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalImageCount"
        [(ngModel)]="pageImage" pageBtnClass="c-pagination__item" (pageChanged)="viewMore($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
        nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
    </div>
  </div>
  <div class="row" *ngIf="action == 'logo' || action == 'feature_logo'">
    <div class="col-lg-12 text-center">
      <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalLogoCount"
        [(ngModel)]="pageLogo" pageBtnClass="c-pagination__item" (pageChanged)="viewMore($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
        nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
    </div>
  </div>
  <div class="row" *ngIf="action == 'print' || action == 'feature_print'">
    <div class="col-lg-12 text-center">
      <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalPrintCount"
        [(ngModel)]="pagePrint" pageBtnClass="c-pagination__item" (pageChanged)="viewMore($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
        nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
    </div>
  </div>
  <div class="row" *ngIf="action == 'video' || action == 'feature_video'">
    <div class="col-lg-12 text-center">
      <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalVideoCount"
        [(ngModel)]="pageVideo" pageBtnClass="c-pagination__item" (pageChanged)="viewMore($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
        nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i> Save Changes</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
</div>