<div class="container-fluid">
    <div class="c-toolbar u-mb-medium">
        <button class="c-btn c-btn--secondary u-mr-small" (click)="back()">
            <i class="fa fa-chevron-left u-mr-xsmall"></i> Back
        </button>
        <h3 class="c-toolbar__title has-divider"><span [innerHTML]="product.title"></span></h3>
        <h5 class="c-toolbar__meta u-mr-auto">{{product.directBooking}}</h5>
        <div class="c-range c-range--inline u-mr-auto"></div>
        <button class="c-btn c-btn--danger u-ml-small" [disabled]="showContent" (click)="deleteProduct()">
            <i class="fa fa-trash u-mr-xsmall u-opacity-medium"></i>Delete Product
        </button>
        <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
            <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
        </button>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12">
            <ul class="c-tabs__list" id="myTab" role="tablist">
                <li><a class="c-tabs__link" [ngClass]="{'active': isInfo}" (click)="showTab('info')"><i
                            class="fa fa-info-circle"></i>
                        Information</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active': isDetails}" (click)="showTab('details')"><i
                            class="fa fa-file-o"></i>
                        Details</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active': isGallery}" (click)="showTab('gallery')"><i
                            class="fa fa-image"></i>
                        Gallery</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active': isBooking}" (click)="showTab('booking')"><i
                            class="fa fa-link"></i>
                        Booking Link</a></li>
                <li><a class="c-tabs__link" [ngClass]="{'active': isMapping}" (click)="showTab('mapping')"><i
                            class="fa fa-sitemap"></i>
                        Map Product</a></li>
            </ul>
            <div class="c-tabs__content tab-content u-mb-large">
                <div class="c-tabs__pane u-pb-medium" *ngIf="isInfo">
                    <app-product-details-information></app-product-details-information>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isDetails">
                    <app-product-details-detail></app-product-details-detail>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isGallery">
                    <app-product-details-gallery></app-product-details-gallery>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isBooking">
                    <app-product-details-booking-link></app-product-details-booking-link>
                </div>
                <div class="c-tabs__pane u-pb-medium" *ngIf="isMapping">
                    <app-map-products></app-map-products>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
                    <article class="c-event" *ngIf="showContent">
                        <div class="c-event__img">
                            <img [src]="product.featureImage?.image400 | linkHttp"
                                onError="this.src='./assets/img/thumb.jpg'">
                            <span class="c-event__status">Featured Image</span>
                        </div>
                        <div class="c-event__meta">
                            <button class="c-btn c-btn--info" (click)="setProductFeature('image')"><i
                                    class="fa fa-edit"></i>
                                Update</button>
                        </div>
                    </article>
                    <article class="c-event" *ngIf="!showContent">
                        <app-skeleton-item height="230px"></app-skeleton-item>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
                    <article class="c-event" *ngIf="showContent">
                        <div class="c-event__img">
                            <img [src]="product.featureVideo?.image400 | linkHttp"
                                onError="this.src='./assets/img/thumb.jpg'">
                            <span class="c-event__status">Featured Video</span>
                        </div>
                        <div class="c-event__meta">
                            <button class="c-btn c-btn--info" (click)="setProductFeature('video')"><i
                                    class="fa fa-edit"></i>
                                Update</button>
                        </div>
                    </article>
                    <article class="c-event" *ngIf="!showContent">
                        <app-skeleton-item height="230px"></app-skeleton-item>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
                    <article class="c-event" *ngIf="showContent">
                        <div class="c-event__img">
                            <img [src]="product.featurePrint?.image400 | linkHttp"
                                onError="this.src='./assets/img/thumb.jpg'">
                            <span class="c-event__status">Featured Print</span>
                        </div>
                        <div class="c-event__meta">
                            <button class="c-btn c-btn--info" (click)="setProductFeature('print')"><i
                                    class="fa fa-edit"></i>
                                Update</button>
                        </div>
                    </article>
                    <article class="c-event" *ngIf="!showContent">
                        <app-skeleton-item height="230px"></app-skeleton-item>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
                    <article class="c-event" *ngIf="showContent">
                        <div class="c-event__img">
                            <img [src]="product.featureLogo?.image400 | linkHttp"
                                onError="this.src='./assets/img/thumb.jpg'">
                            <span class="c-event__status">Featured Logo</span>
                        </div>
                        <div class="c-event__meta">
                            <button class="c-btn c-btn--info" (click)="setProductFeature('logo')"><i
                                    class="fa fa-edit"></i>
                                Update</button>
                        </div>
                    </article>
                    <article class="c-event" *ngIf="!showContent">
                        <app-skeleton-item height="230px"></app-skeleton-item>
                    </article>
                </div>
            </div>
        </div>
    </div>