<div class="o-page__sidebar js-page-sidebar" [class.is-minimized]="isMinimized">
  <div class="c-sidebar" [class.is-minimized]="isMinimized">
    <a class="c-sidebar__brand" (click)="openUserProfile()">
      <img class="c-sidebar__brand-img c-sidebar__brand-img_thumbnail" [src]="profilePicture"
        onError="this.src='./assets/img/logo.png'" alt="Logo">
      <span class="c-sidebar__brand-text">{{businessName}}</span>
    </a>
    <ul class="c-sidebar__list">
      <li class="c-sidebar__item has-submenu" dropdown>
        <a class="c-sidebar__link collapsed" dropdownToggle [ngClass]="{'is-active': activeRoute('products')}">
          <span class="c-sidebar__icon" tooltip="Products" placement="right" container="body">
            <i class="fa fa-shopping-cart"></i>
          </span>Products
        </a>
        <ul class="c-sidebar__submenu collapse" id="sidebar-submenu" *dropdownMenu>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openProducts()">
              <span class="c-sidebar__icon" tooltip="Product List" placement="right" container="body">
                <i class="fa fa-list"></i>
              </span><small>Product List</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openImportProducts()">
              <span class="c-sidebar__icon" tooltip="Import Products" placement="right" container="body">
                <i class="fa fa-upload"></i>
              </span><small>Import Products</small>
            </a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar__item">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('media')}" (click)="openMedia()">
          <span class="c-sidebar__icon" tooltip="Media Files" placement="right" container="body">
            <i class="fa fa-folder"></i>
          </span>Media Files
        </a>
      </li>

      <li class="c-sidebar__item">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('company-bio')}" (click)="openCompany()">
          <span class="c-sidebar__icon" tooltip="Company Bio" placement="right" container="body">
            <i class="fa fa-address-card"></i>
          </span>Company Bio
        </a>
      </li>

      <li class="c-sidebar__item">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('users')}" (click)="openUsers()">
          <span class="c-sidebar__icon" tooltip="Users" placement="right" container="body">
            <i class="fa fa-users"></i>
          </span>Users
        </a>
      </li>
      <li class="c-sidebar__item">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('social-links')}" (click)="openSocialLinks()">
          <span class="c-sidebar__icon" tooltip="Social Links" placement="right" container="body">
            <i class="fa fa-share-alt-square"></i>
          </span>Social Links
        </a>
      </li>
    </ul>
    <a class="n-toggle" (click)="showSidebar()">
      <svg class="n-toggle__icon i-down" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        [ngClass]="!isMinimized ?  'i-collapse--right' : 'i-collapse--left'">
        <path
          d="M12.705 15.127a1 1 0 0 1-1.412 0L5.742 9.57A.822.822 0 1 1 6.905 8.41l4.29 4.293.805.804.805-.804 4.29-4.288a.822.822 0 1 1 1.163 1.164l-5.553 5.549z"
          fill="#000" fill-rule="nonzero"></path>
      </svg>
    </a>
  </div>
</div>