.n-toggle {
    display: flex;
    position: absolute;
    top: calc(50% - 30px);
    height: 60px;
    right: 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.165, .84, .44, 1)
}

.n-toggle__icon.i-collapse--left {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.n-toggle__icon.i-collapse--right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.o-page__sidebar:hover .n-toggle {
    opacity: 1;
}

.c-sidebar__brand-img_thumbnail {
    border: 3px solid #dee2e6;
    border-radius: .25rem;
    width: 50px !important;
}

.c-sidebar__brand-text {
    color: #B7C0CD;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ==========================================================================
   #SIDEBAR
   ========================================================================== */
/** 
 * NOTE: The layout, width of the sidebar is controlled by `o-page__sidebar` in
 *       `o-page` object, found in `objects/_objects.page.scss`.
 */

/**
   * 1. Control the width of sidebar.
   * 2. Sidebar always on the top.
   */
.o-page__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    /* [1] */
    z-index: 300;
    /* [2] */
    /**
       * Hide sidebar once viewport is lower than $breakpoint-desktop (992px)
       *
       * 1. Increase the width of sidebar on small screens.
       */
}

@media (max-width: 992px) {
    .o-page__sidebar {
        width: 300px;
    }
}

.c-sidebar {
    position: relative;
    height: 100%;
    margin: 0;
    padding-bottom: 1.875rem;
    background-color: #222C3C;
    overflow: auto;
    z-index: 200;
}

.c-sidebar::-webkit-scrollbar {
    /* [2] */
    width: 6px;
    background-color: transparent;
}

.c-sidebar::-webkit-scrollbar-thumb {
    /* [2] */
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

/**
   * 1. Height of sidebar brand should equal the height of the navbar for perfect 
   *    alignment.
   * 2. You can change the height of brand/logo image as you want, but its height
   *    shouldn't be more than navbar's height.
   */
.c-sidebar__brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    /* [1] */
    padding-left: 1.875rem;
    border-bottom: 1px solid #2a3547;
    color: #e6eaee;
    font-size: 16px;
    vertical-align: middle;
}

.c-sidebar__brand:hover {
    color: #e6eaee;
    text-decoration: none;
}

.c-sidebar__brand-img {
    display: inline-block;
    height: 44px;
    /* [2] */
    margin-right: 0.625rem;
}

.c-sidebar__title {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 30px;
    color: #7f8fa4;
    font-size: 12px;
    text-transform: uppercase;
}

.c-sidebar__divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2A3547;
}

/**
   * Sidebar naviagtion menu
   */
.c-sidebar__item {
    position: relative;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /**
       * 1. Add small arrow to `c-menu__link` when `c-menu__item` has sub-menu.
       */
}

.c-sidebar__item.has-submenu>.c-sidebar__link::after {
    /* [1] */
    display: inline-block;
    position: absolute;
    /* top: 20px; */
    right: 30px;
    color: #B7C0CD;
    font-family: "FontAwesome";
    content: "\f0d7";
}

.c-sidebar__item.is-open {
    background-color: #1D2531;
    -webkit-box-shadow: inset 3px 0 0 0 #00A8FF;
    box-shadow: inset 3px 0 0 0 #00A8FF;
}

.c-sidebar__item.is-open>.c-sidebar__link::after {
    content: "\f0d8";
}

.c-sidebar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0 10px 30px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    color: #B7C0CD !important;
    font-size: .875rem;
}

.c-sidebar__link.is-active {
    background-color: #1D2531;
    -webkit-box-shadow: inset 3px 0 0 0 #00A8FF;
    box-shadow: inset 3px 0 0 0 #00A8FF;
}

.c-sidebar__link:hover {
    color: #fff;
    text-decoration: none;
}

/**
   * Sub Menu
   */
.c-sidebar__submenu {
    /**
       * Bootstrap classes used to show and hide sidebar submenu.
       * This behaviour depends on collapse.js plugin.
       */
}

.c-sidebar__submenu.collapse {
    display: none;
}

.c-sidebar__submenu.show {
    display: block;
}

.c-sidebar__submenu.collapsing {
    position: relative;
    height: 0;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    overflow: hidden;
}


/* ==========================================================================
   #SIDEBAR MINIMUZED
   ========================================================================== */
/**
 * This file contains all customization for minimized-style sidebar.
 */
/**
 * This sidebar object
 */

@media (max-width: 992px) {
    .o-page__sidebar {
        width: 250px;
    }

    .o-page__sidebar.is-minimized {
        width: 70px;
    }

    .c-sidebar .c-sidebar__brand {
        padding: 10px;
    }

    .c-sidebar .c-sidebar__brand-img {
        margin-right: 15px;
    }

    .c-sidebar .c-sidebar__brand-text {
        display: block;
    }

    .c-sidebar .c-sidebar__title {
        display: block;
    }

    .c-sidebar .c-sidebar__icon {
        display: block;
        min-width: 70px;
        padding: 15px 0;
        font-size: 20px;
        margin-right: 15px;
    }

    .c-sidebar .c-sidebar__item.has-submenu>.c-sidebar__link::after {
        display: block;
    }

    .c-sidebar .c-sidebar__link {
        padding: 0 0 0 30px;
    }




    .c-sidebar.is-minimized {
        width: 70px;
        overflow-x: hidden;
        -webkit-transition: width .3s;
        transition: width .3s;
    }

    .c-sidebar.is-minimized .c-sidebar__brand {
        padding: 10px;
    }

    .c-sidebar.is-minimized .c-sidebar__brand-img {
        margin-right: 15px;
    }

    .c-sidebar.is-minimized .c-sidebar__link {
        padding: 0;
    }

    .c-sidebar.is-minimized .c-sidebar__icon {
        display: block;
        min-width: 70px;
        padding: 15px 0;
        font-size: 20px;
        text-align: center;
    }

    .c-sidebar.is-minimized .c-sidebar__item.has-submenu>.c-sidebar__link::after {
        display: none;
        top: 20px;
    }
}

@media (min-width: 992px) {
    .o-page__sidebar {
        width: 250px;
    }

    .o-page__sidebar.is-minimized {
        width: 70px;
    }

    /**
       * This sidebar component
       */

    .c-sidebar .c-sidebar__brand {
        padding: 10px;
    }

    .c-sidebar .c-sidebar__brand-img {
        margin-right: 15px;
    }

    .c-sidebar .c-sidebar__brand-text {
        display: block;
    }

    .c-sidebar .c-sidebar__title {
        display: block;
    }

    .c-sidebar .c-sidebar__icon {
        display: block;
        min-width: 70px;
        padding: 15px 0;
        font-size: 20px;
        text-align: center;
        margin-right: 15px;
    }

    .c-sidebar .c-sidebar__item.has-submenu>.c-sidebar__link::after {
        display: block;
    }

    .c-sidebar .c-sidebar__link {
        padding: 0;
    }



    .c-sidebar.is-minimized {
        width: 70px;
        overflow-x: hidden;
        -webkit-transition: width .3s;
        transition: width .3s;
    }

    .c-sidebar.is-minimized .c-sidebar__brand {
        padding: 10px;
    }

    .c-sidebar.is-minimized .c-sidebar__brand-img {
        margin-right: 15px;
    }

    .c-sidebar.is-minimized .c-sidebar__link {
        padding: 0;
    }

    .c-sidebar.is-minimized .c-sidebar__icon {
        display: block;
        min-width: 70px;
        padding: 15px 0;
        font-size: 20px;
        text-align: center;
    }

    .c-sidebar.is-minimized .c-sidebar__item.has-submenu>.c-sidebar__link::after {
        display: none;
        top: 20px;
    }

}