<article class="c-stage" id="stages">
  <a class="c-stage__header u-flex u-justify-between">
    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Gallery</h6>
  </a>
  <div class="c-stage__panel">
    <div class="u-mt-small u-mb-small u-ml-small">
      <button class="c-btn c-btn--info" (click)="addProductImages()" *ngIf="showContent"><i
          class="fa fa-plus"></i> Add Images</button>
      <app-skeleton-item height="39px" width="103px" *ngIf="!showContent"></app-skeleton-item>
    </div>
    <div class="row u-p-small" *ngIf="showContent">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of product.gallery?.images">
        <div class="c-event__img">
          <img [src]="item.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
        </div>
      </div>
    </div>
    <div class="row u-p-small" *ngIf="!showContent">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of fakeArr">
        <div class="c-event__img">
          <app-skeleton-item height="100px"></app-skeleton-item>
        </div>
      </div>
    </div>
  </div>
</article>