<article class="c-stage" id="stages" *ngIf="showContent">
    <a class="c-stage__header u-flex u-justify-between">
        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Name/Title</h6>
    </a>
    <div class="c-stage__panel c-stage__panel--mute">
        <form [formGroup]="entryForm" (ngSubmit)="saveProductNameChanges()">
            <div class="col-12 col-sm-12 u-border-bottom">
                <div class="c-field u-p-small">
                    <label class="c-field__label" for="product_title">Name</label>
                    <input class="c-input" id="product_title" name="product_title" type="text"
                        [ngClass]="{'c-input--danger': submitted && f.title?.errors}" formControlName="title">
                    <small *ngIf="submitted && f.title?.errors" class="c-field__message u-color-danger">
                        <div *ngIf="f.title?.errors?.required">
                            <i class="fa fa-exclamation-circle"></i> Product Name is required.
                        </div>
                    </small>
                </div>
            </div>
            <div class="u-mt-small u-mb-small u-ml-small">
                <button class="c-btn c-btn--info" type="submit" [disabled]="isProductNameSaving"><i
                        class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Update</button>
            </div>
        </form>
    </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
    <app-skeleton-item height="218px"></app-skeleton-item>
</article>
<article class="c-stage" id="stages" *ngIf="showContent">
    <a class="c-stage__header u-flex u-justify-between">
        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Summary</h6>
    </a>
    <div class="c-stage__panel c-stage__panel--mute">
        <div class="u-p-small u-border u-border">
            <small class="u-text-mute">
                Please provide a shorter description of this product. This text will often be used in listings and
                search
                results. The purpose of this text is to provide an quick and engaging description that will entice the
                viewer
                to want to read more.
            </small>
        </div>
        <tabset>
            <tab *ngFor="let item of newSummaryArr" [heading]="item.key | uppercase">
                <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="item.value.text">
                </quill-editor>
                <div class="u-mt-small u-mb-small u-ml-small">
                    <button class="c-btn c-btn--info" (click)="saveProductChanges(item.action,item.mode,item)"
                        [disabled]="isSaving"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Update</button>
                </div>
            </tab>
        </tabset>
    </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
    <app-skeleton-item height="432px"></app-skeleton-item>
</article>
<article class="c-stage" id="stages" *ngIf="showContent">
    <a class="c-stage__header u-flex u-justify-between">
        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Description</h6>
    </a>
    <div class="c-stage__panel c-stage__panel--mute">
        <div class="u-p-small u-border u-border">
            <small class="u-text-mute">
                Please provide a description that best describes this product. This text will be the hero text for this
                product
                item so therefore needs to clearly state what the product is, what are the benefits of this product and
                why
                someone should purchase this product.
            </small>
        </div>
        <tabset>
            <tab *ngFor="let item of newDescriptionArr" [heading]="item.key | uppercase">
                <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="item.value.text">
                </quill-editor>
                <div class="u-mt-small u-mb-small u-ml-small">
                    <button class="c-btn c-btn--info" (click)="saveProductChanges(item.action,item.mode,item)"
                        [disabled]="isSaving"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Update</button>
                </div>
            </tab>
        </tabset>
    </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
    <app-skeleton-item height="432px"></app-skeleton-item>
</article>
<div class="row">
    <div class="col-md-6">
        <article class="c-stage" id="stages" *ngIf="showContent">
            <a class="c-stage__header u-flex u-justify-between">
                <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Price Range</h6>
            </a>
            <div class="c-stage__panel c-stage__panel--mute">
                <div class="u-p-small u-border u-border">
                    <p class="u-text-mute u-mb-xsmall">
                        <small>Although Narnoo does not provide booking or payment options, we still would like to know
                            the price
                            range
                            for
                            the product.</small>
                    </p>
                    <p class="u-text-mute">
                        <small> This is used for product searching purposes so that users can filter products by price.
                            By using
                            three
                            pricing
                            options we can provide “Prices from: “ and “Prices to: “ functions and allow accurate
                            search results.</small>
                    </p>
                </div>
                <form [formGroup]="priceForm" (ngSubmit)="saveProductChanges('information')">
                    <div class="col-12 col-sm-12 u-border-bottom">
                        <div class="c-field u-p-small">
                            <label class="c-field__label" for="product_price">Price</label>
                            <input class="c-input" id="product_price" name="product_price" type="number"
                                [ngClass]="{'c-input--danger': submitted && f.price?.errors}" formControlName="price">
                            <small *ngIf="submitted && f.price?.errors" class="c-field__message u-color-danger">
                                <div *ngIf="f.price?.errors?.required">
                                    <i class="fa fa-exclamation-circle"></i> Product Price is required.
                                </div>
                            </small>
                        </div>
                    </div>
                    <div class="u-mt-small u-mb-small u-ml-small">
                        <button class="c-btn c-btn--info" type="submit" [disabled]="isProductInformationSaving"><i
                                class="fa fa-spinner fa-pulse" *ngIf="isProductInformationSaving"></i> Update</button>
                    </div>
                </form>
            </div>
        </article>
        <article class="c-stage" id="stages" *ngIf="!showContent">
            <app-skeleton-item height="379px"></app-skeleton-item>
        </article>
    </div>
    <div class="col-md-6">
        <article class="c-stage" id="stages" *ngIf="showContent">
            <a class="c-stage__header u-flex u-justify-between">
                <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Keywords</h6>
            </a>
            <div class="c-stage__panel c-stage__panel--mute">
                <div class="col-12 col-sm-12 u-border-bottom">
                    <div class="c-field u-p-small">
                        <label class="c-field__label" for="product_price">Keywords</label>
                        <tag-input [(ngModel)]="product.keywordsArr"></tag-input>
                    </div>
                </div>
                <div class="u-mt-small u-mb-small u-ml-small">
                    <button class="c-btn c-btn--info" (click)="saveProductKeywords()"
                        [disabled]="isProductKeywordsSaving"><i class="fa fa-spinner fa-pulse"
                            *ngIf="isProductKeywordsSaving"></i> Update</button>
                </div>
            </div>
        </article>
        <article class="c-stage" id="stages" *ngIf="!showContent">
            <app-skeleton-item height="379px"></app-skeleton-item>
        </article>
    </div>
</div>
<article class="c-stage" id="stages" *ngIf="showContent">
    <a class="c-stage__header u-flex u-justify-between">
        <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Features</h6>
    </a>
    <div class="c-stage__panel c-stage__panel--mute">
        <div class="u-p-small u-border u-border">
            <small class="u-text-mute">
                Please select the features that best represent this product.
            </small>
        </div>
        <div class="row u-p-small">
            <div class="col-sm-6 col-md-3">
                <div class="u-block u-mb-xsmall">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="disabledAccess" type="checkbox"
                            [(ngModel)]="features.disabledAccess">
                        <label class="c-choice__label" for="disabledAccess">Disabled Access</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block u-mb-xsmall">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="giftShop" type="checkbox" [(ngModel)]="features.giftShop">
                        <label class="c-choice__label" for="giftShop">Gift Shop</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="storageLockers" type="checkbox"
                            [(ngModel)]="features.storageLockers">
                        <label class="c-choice__label" for="storageLockers">Storage Lockers</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="visitorInformation" type="checkbox"
                            [(ngModel)]="features.visitorInformation">
                        <label class="c-choice__label" for="visitorInformation">Visitor Information</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="dinnerIncluded" type="checkbox"
                            [(ngModel)]="features.dinnerIncluded">
                        <label class="c-choice__label" for="dinnerIncluded">Dinner Included</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="internetAccess" type="checkbox"
                            [(ngModel)]="features.internetAccess">
                        <label class="c-choice__label" for="internetAccess">Internet</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="media" type="checkbox" [(ngModel)]="features.media">
                        <label class="c-choice__label" for="media">Photo/Video Service</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="functionHire" type="checkbox"
                            [(ngModel)]="features.functionHire">
                        <label class="c-choice__label" for="functionHire">Private Functions</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="hotelPickupService" type="checkbox"
                            [(ngModel)]="features.hotelPickupService">
                        <label class="c-choice__label" for="hotelPickupService">Hotel Pick Up Service</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="mealProvided" type="checkbox"
                            [(ngModel)]="features.mealProvided">
                        <label class="c-choice__label" for="mealProvided">Meal/s Provided</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="guidedTours" type="checkbox"
                            [(ngModel)]="features.guidedTours">
                        <label class="c-choice__label" for="guidedTours">Guided Tour</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="weddingServices" type="checkbox"
                            [(ngModel)]="features.weddingServices">
                        <label class="c-choice__label" for="weddingServices">Wedding Services</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="breakfestIncluded" type="checkbox"
                            [(ngModel)]="features.breakfestIncluded">
                        <label class="c-choice__label" for="breakfestIncluded">Breakfast Included</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="cafe" type="checkbox" [(ngModel)]="features.cafe">
                        <label class="c-choice__label" for="cafe">Cafe</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="languageTranslation" type="checkbox"
                            [(ngModel)]="features.languageTranslation">
                        <label class="c-choice__label" for="languageTranslation">Foreign Languages</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="conferenceServices" type="checkbox"
                            [(ngModel)]="features.conferenceServices">
                        <label class="c-choice__label" for="conferenceServices">Conference Services</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="u-block">
                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="lunchIncluded" type="checkbox"
                            [(ngModel)]="features.lunchIncluded">
                        <label class="c-choice__label" for="lunchIncluded">Lunch Included</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-mt-small u-mb-small u-ml-small">
            <button class="c-btn c-btn--info" (click)="saveProductFeatures()" [disabled]="isProductFeaturesSaving"><i
                    class="fa fa-spinner fa-pulse" *ngIf="isProductFeaturesSaving"></i> Update</button>
        </div>
    </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
    <app-skeleton-item height="420px"></app-skeleton-item>
</article>