<div class="container-fluid">
  <div class="c-toolbar u-mb-medium">
    <h3 class="c-toolbar__title"><span [innerHTML]="productInfo.title"></span></h3>
    <div class="c-range c-range--inline u-mr-auto"></div>
    <button class="c-btn c-btn--info u-ml-small" [disabled]="!showContent" (click)="importProduct()">
      <i class="fa fa-upload u-mr-xsmall u-opacity-medium" *ngIf="!isSaving"></i>
      <i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
      Import this Product
    </button>
    <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
      <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
    </button>
  </div>
  <div class="row">
    <div class="c-tabs__content tab-content u-p-small" id="nav-tabContent">
      <article class="c-stage" id="stages">
        <a aria-controls="stage-panel2" class="c-stage__header u-flex u-justify-between">
          <div class="o-media">
            <div class="c-stage__header-title o-media__body">
              <h6 class="u-text-bold u-mb-zero">Summary</h6>
            </div>
          </div>
        </a>
        <div class="c-stage__panel c-stage__panel--mute collapse show" id="product-summary-tab">
          <div class="u-p-small">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="c-field u-p-small" *ngIf="showContent">
                  <p>{{productInfo.summary}}</p>
                </div>
                <div *ngIf="!showContent">
                  <app-skeleton-item height="24px"></app-skeleton-item>
                  <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a aria-controls="stage-panel2" class="c-stage__header u-flex u-justify-between collapsed">
          <div class="o-media">
            <div class="c-stage__header-title o-media__body">
              <h6 class="u-text-bold u-mb-zero">Description</h6>
            </div>
          </div>
        </a>
        <div class="c-stage__panel c-stage__panel--mute collapse show" id="product-desc-tab">
          <div class="u-p-small">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="c-field u-p-small" *ngIf="showContent">
                  <p [innerHTML]="productInfo.description"></p>
                </div>
                <div *ngIf="!showContent">
                  <app-skeleton-item height="24px"></app-skeleton-item>
                  <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a aria-controls="stage-panel2" class="c-stage__header u-flex u-justify-between collapsed">
          <div class="o-media">
            <div class="c-stage__header-title o-media__body">
              <h6 class="u-text-bold u-mb-zero">Additional Information</h6>
            </div>
          </div>
        </a>
        <div class="c-stage__panel c-stage__panel--mute collapse show" id="product-addInformation-tab">
          <div class="u-p-small">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="c-field u-p-small" *ngIf="showContent">
                  <p [innerHTML]="productInfo.additionalInformation"></p>
                </div>
                <div *ngIf="!showContent">
                  <app-skeleton-item height="24px"></app-skeleton-item>
                  <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a aria-controls="stage-panel2" class="c-stage__header u-flex u-justify-between collapsed">
          <div class="o-media">
            <div class="c-stage__header-title o-media__body">
              <h6 class="u-text-bold u-mb-zero">Terms</h6>
            </div>
          </div>
        </a>
        <div class="c-stage__panel c-stage__panel--mute collapse show" id="product-terms-tab">
          <div class="u-p-small">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="c-field u-p-small" *ngIf="showContent">
                  <p [innerHTML]="productInfo.terms"></p>
                </div>
                <div *ngIf="!showContent">
                  <app-skeleton-item height="24px"></app-skeleton-item>
                  <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                  <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a aria-controls="stage-panel2" class="c-stage__header u-flex u-justify-between collapsed">
          <div class="o-media">
            <div class="c-stage__header-title o-media__body">
              <h6 class="u-text-bold u-mb-zero">Other Information</h6>
            </div>
          </div>
        </a>
        <div class="c-stage__panel c-stage__panel--mute collapse show" id="product-others-tab">
          <div class="u-p-small">
            <div class="row" *ngIf="showContent">
              <div class="col-12 col-sm-6">
                <div class="c-field">
                  <label class="c-field__label u-text-bold " for="input14">Platform</label>
                  <p class="c-field u-p-small u-text-capitalize">{{productInfo.platform}}</p>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="c-field">
                  <label class="c-field__label u-text-bold" for="input14">Code</label>
                  <p class="c-field u-p-small">{{productInfo.code}}</p>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="c-field ">
                  <label class="c-field__label u-text-bold" for="input14">Price</label>
                  <p class="c-field u-p-small">{{productInfo.price | currency:'USD'}}</p>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="c-field">
                  <label class="c-field__label u-text-bold" for="input14">Duration</label>
                  <p class="c-field u-p-small">{{productInfo.duration}} hrs</p>
                </div>
              </div>
            </div>
            <div class="row u-mb-small" *ngIf="!showContent">
              <div class="col-12 col-sm-6">
                <app-skeleton-item height="24px"></app-skeleton-item>
                <app-skeleton-item height="14px" width="87%"></app-skeleton-item>
              </div>
              <div class="col-12 col-sm-6">
                <app-skeleton-item height="24px"></app-skeleton-item>
                <app-skeleton-item height="14px" width="87%"></app-skeleton-item>
              </div>
            </div>
            <div class="row u-mb-small" *ngIf="!showContent">
              <div class="col-12 col-sm-6">
                <app-skeleton-item height="24px"></app-skeleton-item>
                <app-skeleton-item height="14px" width="87%"></app-skeleton-item>
              </div>
              <div class="col-12 col-sm-6">
                <app-skeleton-item height="24px"></app-skeleton-item>
                <app-skeleton-item height="14px" width="87%"></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>